.cursor {
    &-default {
        cursor: default
    }

    &-pointer {
        cursor: pointer;
    }
}

.display {
    &-block {
        display: block;
    }
    &-inline-block {
        display: inline-block;
    }
}