$body-color: #363e43 !default;
$body-weight: 400 !default;
$body-line-height: 1.5 !default;

body {
  color: $body-color;
  font-size: 1rem;
  font-weight: $body-weight;
  line-height: $body-line-height;
}

.no-padding {
  padding: 0;
}

.no-padding-important {
  padding: 0 !important;
}

.button-truncate {
  span {
    width: 100%;
  }
}

.right-gradient-partial {
  background: linear-gradient(90deg,
      rgba(219, 223, 225, 0.16) 0%,
      rgba(219, 223, 225, 0) 100%);
  height: 100vh;
  width: 90px;
  position: fixed;
  top: 0;
  z-index: 1;
  pointer-events: none;
}

.background-left-gradient-partial {
  background-image: linear-gradient(90deg, rgba(219, 223, 225, 0.16) 0,
      rgba(219, 223, 225, 0) 90px,
      rgba(219, 223, 225, 0) 100%);
}

.redactor-styles {
  span {
    font-size: inherit;
  }
}

.ace_editor {
  &.ace-xcode {
    background-color: #f5f6f7;

    .ace_gutter {
      background-color: #f5f6f7;
    }

    * {
      color: #363f44 !important;
    }
  }
}

.sticky-top {
  position: sticky;
  top: 24px;
}

.markdown-area {

  p,
  span {
    font-size: 1em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0.75em 0;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.max-width-500 {
  max-width: 500px;
}

.permission-deny {
  opacity: 0.4 !important;
  pointer-events: none !important;
}

.btn, .ag-header-cell-text {
  font-size: 12px !important;
}
