// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #363e43;
  font-weight: bold;
}

p,
span {
  font-size: 0.875rem;
  margin: 0;
}

h1 {
  font-size: 40px;
  letter-spacing: -0.75px;
  line-height: 48px;
}

h2 {
  font-size: 32px;
  letter-spacing: -0.5px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  letter-spacing: -0.25px;
  line-height: 30px;
}

h4 {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

h5 {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

button,
input,
select {
  outline: none;
}
