// Text colors
@mixin makeTextColorClass($name, $color, $colors-map) {
    &-#{$name} {
        color: $color;
    }

    @each $key,
    $value in $colors-map {
        &-#{$name}#{$key} {
            color: $value;
        }
    }
}

;

.text {
    @include makeTextColorClass(gray, $color-gray, $colors-gray);
    @include makeTextColorClass(blue, $color-blue, $colors-blue);
    @include makeTextColorClass(red, $color-red, $colors-red);
    @include makeTextColorClass(green, $color-green, $colors-green);
}

// Text size
.text {
    &-subtitle {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0;
        font-weight: 500;
    }

    &-small {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0;
    }

    &-big {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0;
    }

    &-normal {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
    }

    &-capitalize {
        text-transform: capitalize;
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-bold {
        font-weight: bold;
    }

    &-semi-bold {
        font-weight: 500;
    }

    &-pointer {
        cursor: pointer;
    }

    &-line-though {
        text-decoration: line-through;
    }

    &-underline {
        text-decoration: underline;
    }

    &-break-all {
        word-break: break-all;
    }
}

.decoration {
    &-none {

        &,
        &:hover,
        &:focus,
        span {
            text-decoration: none;
        }
    }

    &-none-important {

        &,
        &:hover,
        &:focus,
        span {
            text-decoration: none !important;
        }
    }
}

.font {
    &-menlo {
        font-family: Menlo, Arial, Helvetica, sans-serif;
    }
}
