@import "_task.scss";
@import "_unauthorsized.scss";

input[type=text] {
  padding-left: 8px;
  border-radius: 4px;
  font-size: 12px;
}

::-webkit-input-placeholder { /* Edge */
  color: #c9c9c9 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c9c9c9 !important;;
}

::placeholder {
  color: #c9c9c9 !important;;
}
