.table-container {
  border-radius: 8px;
  background-color: #f8f8f8;
  padding: 16px;
  box-shadow: 0 8px 8px 0 rgba(22,48,84,.2);
}

.table-container-low {
  border-radius: 8px;
  background-color: #f8f8f8;
  padding: 16px;
  box-shadow: 0 2px 2px 0 rgba(22,48,84,.1);

  th {
    border-top: 0px;
  }

  &.product-container {
    opacity: .7;
    &:hover{
      opacity: 1;
      box-shadow: 0 4px 4px 0 rgba(22,48,84,.2);
    }
  }
}

.dropdown-item {
  font-size: 14px;
}

.fixed-float-left {
  position: fixed;
  top: 60px;
  left: 16px;
  border-left: 3px solid #2196F3;
}

.fill {
  width: -webkit-fill-available;
}

.bill-no-modify {
  padding: 16px 16px 0px;
  background-color: white;
  border: 1px dashed #c1c1c1;

  .form-group {
    margin-bottom: 0.5rem;
    border-bottom: 1px dashed #c1c1c1;
  }
  .form-group-input {
    margin-bottom: 0.5rem;
    border-bottom: 0px;

    input {
      font-size: 14px;
    }
  }
  .form-group:last-child {
    border-bottom: 0px;
  }
}

.form-control {
  font-size: 14px;
}

.custom-select {
  font-size: 14px;
}

.check-shipping-code {
  width: -webkit-fill-available;
  text-align: right;
  label {
    padding-top: 3px;
  }
}

.opacity0 {
  opacity: 0;
}

.task-list {
  .ag-selection-checkbox {
    span {
      background-color: white;
      border: 2px solid;
      background-size: 18px 18px;
      width: 18px;
      height: 18px;
    }
  }

  .dropdown-action{
    .dropdown-toggle::after {
      margin-right: 8px;
    }
  }
  .nav-link {
    padding: 0.5rem 8px;
    display: flex;
    align-items: center;
    vertical-align: middle;
  }
  .b-nav-dropdown {
    list-style: none;
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #f1f1f1;
  }

  .b-nav-dropdown em {
    margin-right: 16px;
    color: #4d475c;
    font-style: initial;
  }

  .b-nav-dropdown em:not(.focus-dropdown){
    font-style: italic;
    color: #c9c9c9;
  }

  .b-nav-dropdown em::after {
    color: #c9c9c9;
  }
  .b-nav-dropdown a {
    //padding-right: 0px !important;
  }

  .dropdown-toggle::after {
    position: absolute;
    right: 8px;
    color: #c9c9c9;
  }

  .dropdown-action {
    border-bottom: 0px;
  }
  .btn-in-dropdown {
    padding-top: 4px;
    padding-right: 1.5rem;
  }

  .dropdown-multi-select {
    ul {
      padding: 0px;
      border: 0px;
      width: max-content;
    }

    option {
      cursor: pointer;
      padding: 6px 0px 6px 8px;
      &:hover {
        background-color: #e2e0de7a;
      }
    }

    .hide-col-select {
      min-height: 300px;
    }

    .dropdown-filter-status {
      min-height: 220px;
    }

    .dropdown-item {
      padding: 0px;
    }
  }

  .select-typing {
    position: absolute;
    border-top: 0px;
    min-width: 220px;
    &:hover {
      background-color: #f2f0f0;
    }
    .card-body{
      padding: 8px;
      display: inline-flex;
      align-items: center;
    }
  }
}

.user-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  .nav-link {
    padding: 0.5rem 8px;
    display: flex;
    align-items: center;
    vertical-align: middle;
  }
  .b-nav-dropdown {
    list-style: none;
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #f1f1f1;
  }

  .b-nav-dropdown em {
    margin-right: 16px;
    color: #4d475c;
    font-style: initial;
  }

  .b-nav-dropdown em:not(.focus-dropdown){
    font-style: italic;
    color: #c9c9c9;
  }

  .b-nav-dropdown em::after {
    color: #c9c9c9;
  }
  .b-nav-dropdown a {
    padding-right: 0px !important;
  }

  .dropdown-toggle::after {
    position: absolute;
    right: 8px;
    color: #c9c9c9;
  }

  table {
    tr {
      border: 1px solid #c9c9c9;
      border-top: 0px;
    }
    tr:first-child{
      border-top: 1px solid #c9c9c9;
    }

    td {
      padding: 0.5rem;
    }
    th {
      padding: 0.5rem;
      background-color: #e8f0fe;
      border-left: 1px solid #c9c9c9;
      text-align: left;
    }
  }
}

.product-list {
  .min-width-180 {
    width: 180px;
  }

  .min-width-120 {
    width: 120px;
  }

  table thead tr th {
    vertical-align: middle;
  }
}

.product-detail {
  display: flex;
  justify-content: center;
  //align-items: center;

  table {
    tr {
      border: 1px solid #c9c9c9;
      border-top: 0px;
    }
    tr:first-child{
      border-top: 1px solid #c9c9c9;
    }

    td {
      padding: 0.5rem;
    }
    th {
      padding: 0.5rem;
      background-color: #e8f0fe;
      border-left: 1px solid #c9c9c9
    }
  }

  .nav-link {
    padding: 0.5rem 8px;
    display: flex;
    align-items: center;
    vertical-align: middle;
  }
  .b-nav-dropdown {
    list-style: none;
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #f1f1f1;
  }

  .b-nav-dropdown em {
    margin-right: 16px;
    color: #4d475c;
    font-style: initial;
  }

  .b-nav-dropdown em:not(.focus-dropdown){
    font-style: italic;
    color: #c9c9c9;
  }

  .b-nav-dropdown em::after {
    color: #c9c9c9;
  }
  .b-nav-dropdown a {
    padding-right: 0px !important;
  }

  .dropdown-toggle::after {
    position: absolute;
    right: 8px;
    color: #c9c9c9;
  }
}

.task-detail {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table-container {
    font-size: 0.875rem;
    border-radius: 8px;
    background-color: #f8f8f8;
    padding: 16px;
    box-shadow: 0 8px 8px 0 rgba(22,48,84,.2);

  }

  .tele-main {
    .hint-label {
      position: absolute;
      top: 0px;
      right: 16px;
      cursor: pointer;
      color: #1a76d2;

      &:hover{
        border-bottom: 1px solid;
        border-color: #1a76d2;
      }
    }

    .form-group{
      margin-bottom: 0.5rem;
    }

    .card-custom {
      border-top: 0px;
      border-radius: 0px;
      &:hover {
        background-color: #e9ecef;
      }

      .card-body {
        padding: 0.5rem;
      }
    }
  }

  .line-item {
    width: 100%;

  }

  .btn-delete-line {
    display: flex;
    align-items: center;

    .delete-line-item {
      height: 20px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      color: white;
      font-weight: bold;
      background-color: #dd3b45;
    }
  }

  .b-nav-dropdown {
    list-style: none;
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #f1f1f1;
  }

  .b-nav-dropdown em {
    margin-right: 16px;
    color: #4d475c;
    font-style: initial;
  }

  .b-nav-dropdown{
    .disabled em:not(.focus-dropdown) {
      font-style: italic;
      color: #2aa2b8;
    }
  }

  .b-nav-dropdown em::after {
    color: #c9c9c9;
  }
  .b-nav-dropdown a {
    padding-right: 0px !important;
  }

  .dropdown-toggle::after {
    position: absolute;
    right: 8px;
    color: #c9c9c9;
  }

  .nav-link:not(.disabled) {
    background-color: white;
  }

  .width-80 {
    width: 80px;
  }
  .width-120 {
    width: 120px;
  }
  .width-180 {
    width: 180px;
  }
}

.analytics-page {
  .table {
    .thead-light {
      th {
        border-left: 1px solid;
        border-color: #d1d1d1 !important;
      }
    }

    th {
      vertical-align: middle;
    }

    tbody {
      tr {
        td {
          border: 1px solid #c1c1c1;
          vertical-align: middle;
        }
      }
      tr:last-child {
        td {
          font-weight: bold;
        }
      }
    }
  }

  .danger-col {
    background-color: #c50000 !important;
    color: white !important;
  }
}

.task-landing-page {
  .custom-tag {
    background-color: #f8f8f8;
    color: #212121;
    padding: 0px;
    border-radius: 0px;

    .b-form-tag-content {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0px 8px;
    }
  }
}
