// Font: Family
// Font system : base font
$font-system: Arial, sans-serif;

//== Background image
$component-image-path: '../../../images/core/' !default;

// Color with new ui kit
$review-request-color: #4f5154;

// Bee Primary Colors
$bee-primary: #445fff;
$bee-header: #223458;
$white-color: #fff;
$black-color: #000;
$lightest-color: #f8f8fc;
$dark-color: #82869e;
$darker-color: #55586c;
$darkest-color: #000c5c;
$text-dark-color: #363e43;
$link-color: #0093ED;

// Gray Shade Colors with $lightest-color is base
$gray-lightest: $lightest-color;
$gray-lighter: #f2f2f8;
$gray-light: #e4e5f0;
$gray-primary: #c4c6d4; // Support Color
$gray-dark: $dark-color;
$gray-darker: $darker-color;
$gray-darkest: #1e2028;

// Shade colors with Bee color primary $bee-primary is base
$bee-lightest: #e8ebff;
$bee-lighter: #b4beff;
$bee-light: #6378ff;
$bee-dark: #2d46eb;
$bee-darker: $darkest-color;

// Red Shade Colors with $red-primary is base
$red-lightest: #ffeeef;
$red-lighter: #ffa6a8;
$red-primary: #ff595f; // Support Color
$red-dark: #d21926;
$red-darker: #5a0005;

// Green Shade Colors with $green-primary is base
$green-lighter: #ecfcf2;
$green-light: #94e6af;
$green-primary: #32c864; // Support Color
$green-dark: #008c2e;
$green-darker: #004e1a;

// Yellow Shade Colors with $yellow-primary is base
$yellow-lighter: #fff6e1;
$yellow-light: #ffe4aa;
$yellow-primary: #ffcd64; // Support Color
$yellow-dark: #e59b00;
$yellow-darker: #7d5400;

// Purple Shade Colors with $purple-primary is base
$purple-lighter: #f6eeff;
$purple-light: #dcbbff;
$purple-primary: #b46eff; // Support Color
$purple-dark: #8008ff;
$purple-darker: #3a0078;

// Blue Shade Colors with $blue-primary is base
$blue-lighter: #def0ff;
$blue-light: #98d0ff;
$blue-primary: #1e8ceb; // Support Color
$blue-dark: #0064bc;
$blue-darker: #001d37;

// Orange Shade Colors with $orange-primary is base
$orange-lighter: #ffece0;
$orange-light: #ffc7a0;
$orange-primary: #ff9e5c; // Support Color
$orange-dark: #e45c00;
$orange-darker: #622800;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight: normal;

$btn-default-color: $bee-dark;
$btn-default-bg: $white-color;
$btn-default-border: $bee-primary;

$btn-primary-color: $white-color;
$btn-primary-bg: $bee-light;
$btn-primary-border: $bee-primary;

$btn-outline-color: inherit;
$btn-outline-bg: transparent;
$btn-outline-border: $gray-dark;

$btn-success-color: #fff;
$btn-success-bg: $green-primary;
$btn-success-border: $green-dark;

$btn-warning-color: #fff;
$btn-warning-bg: $orange-primary;
$btn-warning-border: $orange-dark;

$btn-link-disabled-color: $gray-light;

$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

// Allows for customizing button radius independently from global border radius

$btn-border-radius-base: $border-radius-base;
$btn-border-radius-large: $border-radius-large;
$btn-border-radius-small: $border-radius-small;

$btn-line-height: 20px;

$light: 300;
$regular: 400;
$normal: 500;
$semi-bold: 600;
$bold: 700;

$z-index-base: 1050;

// Spacing
$spacing: 8px;
$spacing-half: $spacing; // ~ 4px
$spacing-double: $spacing * 2; // ~ 16px
$spacing-third: $spacing * 3; // ~ 24px
$spacing-fourth: $spacing * 4; // ~ 32px

$image-background-color: #f5f6f7;

@font-face {
  font-family: NotoSans;
  src: url('/assets/font/NotoSans/NotoSans-Regular.ttf');
}

@font-face {
  font-family: NotoSans-Light;
  src: url('/assets/font/NotoSans/NotoSans-Light.ttf');
}

@font-face {
  font-family: NotoSans-Medium;
  src: url('/assets/font/NotoSans/NotoSans-Medium.ttf');
}

@font-face {
  font-family: NotoSans-SemiBold;
  src: url('/assets/font/NotoSans/NotoSans-SemiBold.ttf');
}

@font-face {
  font-family: NotoSans-Bold;
  src: url('/assets/font/NotoSans/NotoSans-Bold.ttf');
}

@font-face {
  font-family: SFProText-Regular;
  src: url('/assets/font/SFProText/SFProText-Regular.ttf');
}

@font-face {
  font-family: SFProText-Medium;
  src: url('/assets/font/SFProText/SFProText-Medium.ttf');
}

@font-face {
  font-family: SFProText-Semibold;
  src: url('/assets/font/SFProText/SFProText-Semibold.ttf');
}

@font-face {
  font-family: SFProDisplay-Regular;
  src: url('/assets/font/SFProDisplay/SFProDisplay-Regular.ttf');
}

@font-face {
  font-family: SFProDisplay-Semibold;
  src: url('/assets/font/SFProDisplay/SFProDisplay-Semibold.ttf');
}

@font-face {
  font-family: SFProDisplay-Heavy;
  src: url('/assets/font/SFProDisplay/SFProDisplay-Heavy.ttf');
}

@font-face {
  font-family: SFProDisplay-Bold;
  src: url('/assets/font/SFProDisplay/SFProDisplay-Bold.ttf');
}
