<template>
    <div class="col-md-12 mt-2 product-detail text-left">
        <div class="col-md-3 display-inline-block m-0 p-0" style="height: 10px; opacity: 0"></div>
        <div class="b-table text-left col-md-6 table-container display-inline-block">
            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <div class="fixed-float-left table-container" style="width: 22%">
                    <div>
                        <label>Docs sheet ID</label>
                        <b-input v-model="product.gg_sheet_details.id" @input="onAction = false"></b-input>
                    </div>
                    <div class="mb-3">
                        <label>Sheet name</label>
                        <b-input v-model="product.gg_sheet_details.name"></b-input>
                    </div>
                </div>
                <label>Tên sản phẩm</label>
                <b-form-input required v-model="product.name" :disabled="!isCreate"></b-form-input>
                <label>Loại sản phẩm</label>
                <b-form-input required v-model="product.category"></b-form-input>
                <div class="col-md-12 p-0">
                    <div class="col-md-5 col-sm-12 display-inline-block p-0">
                        <label>Giá sản phẩm</label>
                        <b-input type="number" v-model="product.cost"></b-input>
                    </div>
                    <div class="col-md-2 display-inline-block"></div>
                    <div class="col-md-5 col-sm-12 display-inline-block p-0">
                        <label>Số lượng hộp 1 liệu trình</label>
                        <b-form-input required type="number" :min="1" v-model="product.quantity_in_pack"></b-form-input>
                    </div>
                </div>
                <label>Khối lượng (Gram)
                    <br>
                    <span style="font-weight: normal">Tối đa 100,000 gram</span>
                </label>
                <b-form-input required type="number" v-model="product.shipping_option.weight"></b-form-input>
                <label>Kích thước</label>
                <div class="col-md-12 mb-2">
                    <div class="col-md-4 display-inline-block">
                        Dài (cm)
                        <b-form-input required type="number" v-model="product.shipping_option.length"></b-form-input>
                    </div>
                    <div class="col-md-4 display-inline-block">
                        Rộng (cm)
                        <b-form-input required type="number" v-model="product.shipping_option.width"></b-form-input>
                    </div>
                    <div class="col-md-4 display-inline-block">
                        Cao (cm)
                        <b-form-input required type="number" v-model="product.shipping_option.height"></b-form-input>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="col-md-5 col-sm-12 display-inline-block p-0">
                        <label>Yêu cầu đơn hàng</label>
                        <b-form-select
                                required
                                :options="orderRequirement"
                                v-model="product.shipping_option.order_requirement"
                        >
                        </b-form-select>
                    </div>
                    <div class="col-md-2 display-inline-block"></div>
                    <div class="col-md-5 col-sm-12 display-inline-block p-0">
                        <label>Gói cước <span style="color: red">*</span></label>
                        <b-form-select
                                :disabled="true"
                                required
                                :options="shippingOptions"
                                v-model="product.shipping_option.shipping_option"
                        >
                        </b-form-select>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="col-md-5 col-sm-12 display-inline-block p-0">
                        <label>Được phép khai giá không?</label>
                        <b-checkbox v-model="product.shipping_option.has_cost_on_publish" @change="resetCostInput($event)">
                            Cho khai giá
                        </b-checkbox>
                    </div>
                    <div class="col-md-2 display-inline-block"></div>
                    <div class="col-md-5 col-sm-12 display-inline-block p-0">
                        <label>Giá trị khai giá</label>
                        <b-form-input :required="product.shipping_option.has_cost_on_publish" type="number"
                                      :disabled="!product.shipping_option.has_cost_on_publish"
                                      v-model="product.shipping_option.publish_cost"></b-form-input>
                    </div>
                </div>
                <label>Ghi chú giao hàng</label>
                <b-form-textarea
                        rows="3"
                        v-model="product.shipping_option.shipping_note"
                        type="textarea"
                ></b-form-textarea>
                <div class="col-md-12 text-center mt-4">
                    <b-button type="submit" variant="primary">Submit</b-button>
                    <b-button type="reset" variant="danger" class="ml-4">Reset</b-button>
                </div>
            </b-form>
        </div>
        <div class="float-right display-inline-block col-md-2 bill-no-modify" style="margin-left: 32px;height: fit-content;">
            <b-form-group label="Ngân sách hiện tại">
                <label class="ml-4">{{product.budget || 0}}</label>
            </b-form-group>
            <b-form-group label="Số hộp đang về">
                <label class="ml-4">{{product.incoming_stock || 0}}</label>
            </b-form-group>
            <b-form-group label="Dữ liệu scan đến dòng">
                <label class="ml-4">{{product.gg_sheet_details.last_row_scan || 0}}</label>
            </b-form-group>
        </div>
    </div>
</template>

<script>
  import {
    ORDER_REQUIREMENT,
    SHIPPING_OPTIONS,
    // getOAuthGoogleSheetUrl,
    ApiCredentials
  } from "@/store/constant";
  import {httpService} from "@/services/httpService";

  export default {
    name: "Detail",
    data() {
      return {
        isCreate: true,
        authUrl: '',
        defaultValue: {
          name: '',
          category: '',
          inventory_stock: 0,
          quantity_in_pack: 0,
          shipping_option: {
            weight: 0,
            length: 0,
            width: 0,
            height: 0,
            order_requirement: 0,
            shipping_option: "chuan",
            shipping_note: '',
            has_cost_on_publish: false,
            publish_cost: 0
          },
          gg_sheet_details: {
            access_token: '',
            token_type: '',
            refresh_token: '',
            expiry: 0,
            id:'',
            name: '',
            client_id: '',
            client_secret: '',
            last_row_scan: 0,
            expires_in: 0
          }
        },
        product: {},
        show: true,
        onAction: false
      }
    },
    created() {
      this.product = Object.assign({}, this.defaultValue)
    },
    async mounted() {
      this.isCreate = !this.$route.query.id
      if (this.isCreate) {
        return
      }

      this.product = Object.assign({}, this.$route.params.product)
      const exist = this.shippingOptions.find(c => c.text === this.product.shipping_option.shipping_option)
      this.product.shipping_option.shipping_option = exist ? exist.value : 'chuan'
    },
    computed: {
      orderRequirement() {
        const list = []
        for (const key in ORDER_REQUIREMENT) {
          list.push({
            value: key,
            text: ORDER_REQUIREMENT[key]
          })
        }
        return list
      },
      shippingOptions() {
        const list = []
        for (const key in SHIPPING_OPTIONS) {
          list.push({
            value: key,
            text: SHIPPING_OPTIONS[key]
          })
        }
        return list
      }
    },
    methods: {
      truncateDocsSheetLink(url) {
        let parser = url.replace('\n', '').replace('\t', '')
        try {
          parser = new URL(parser)
        } catch (e) {
          return url
        }
        let parts = parser.pathname.split('/')
        for (let i = 0; i < parts.length; i++) {
          try {
            if (parts[i] === 'spreadsheets' && parts[i+1] === 'd') {
              return parts[i + 2]
            }
          } catch (e) {
            this.$bvToast.toast('Không thể xử lý thông tin google sheet!', {
              title: 'URL cung cấp không hợp lệ',
              variant: 'danger'
            })
          }
        }
      },
      resetCostInput(val) {
        if (!val) {
          this.product.publish_cost = 0
        }
      },

      async onSubmit(evt) {
        evt.preventDefault()
        let currentShipOpt = Object.assign({}, this.product.shipping_option, {
          weight: Number(this.product.shipping_option.weight || 0),
          length: Number(this.product.shipping_option.length || 0),
          height: Number(this.product.shipping_option.height || 0),
          width: Number(this.product.shipping_option.width || 0),
          publish_cost: Number(this.product.shipping_option.publish_cost || 0),
          shipping_option: this.formatShippingOption(this.product.shipping_option.shipping_option)
        })
        Object.assign(this.product.gg_sheet_details, ApiCredentials, {
          expiry: this.product.gg_sheet_details.expires_in,
          id: this.truncateDocsSheetLink(this.product.gg_sheet_details.id)
        })
        const product = Object.assign({}, this.product, {
          cost: Number(this.product.cost || 0),
          quantity_in_pack: Number(this.product.quantity_in_pack || 0),
          shipping_option: currentShipOpt
        })
        const res = await httpService.goRequest('/create-update-product','POST', product)
        if (res.error) {
          this.$bvToast.toast('Vui lòng thử lại sau...', {
            title: 'Có lỗi xảy ra!',
            solid: true,
            variant: 'danger'
          })
          return
        }

        this.$bvToast.toast(`Sản phẩm ${product.name} được ${ !this.isCreate ? 'cập nhật' :'tạo' } thành công`, {
          title: 'Chờ chuyển trang...',
          solid: true,
          variant: 'success'
        })
        setTimeout(() => {
          this.$router.push({
            name: 'products'
          })
        }, 1500)
      },
      onReset(evt) {
        evt.preventDefault()
        this.product = this.$route.params.product || this.defaultValue
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      },
      formatShippingOption(opt) {
        const exist = this.shippingOptions.find(c => c.value === opt)
        if (!exist) return ''
        return exist.text
      }
    }
  }
</script>

<style scoped>
    label {
        margin-top: 8px;
        font-weight: bold;
    }
</style>
