<template>
    <div class="col-md-12 d-inline-flex align-items-center justify-content-center">
        <div class="col-md-6 mt-1 product-list">
            <b-table striped hover
                     :busy="onFetching"
                     :items="value"
                     :fields="fields">
                <template v-slot:table-busy>
                    <div class="text-center text-danger my-2">
                        <b-spinner class="align-middle"></b-spinner>
                        <strong class="ml-3">Loading...</strong>
                    </div>
                </template>
                <template v-slot:cell(name)="data">
                    <b-link @click="toDetail('edit', data.item.id, data.item)">{{data.item.name}}</b-link>
                </template>
                <template v-slot:cell(has_cost_on_publish)="data">
                    {{data.item.has_cost_on_publish ? 'x' : ''}}
                </template>
                <template v-slot:cell(publish_cost)="data">
                    {{Number(data.item.publish_cost).toLocaleString()}}
                </template>
                <template v-slot:head(weight)="data">
                    {{data ? '' : ''}}
                    Khối lượng (Gram) <span style="color: red">*</span>
                    <br/>
                    Tối đa 100,000 gram
                </template>
                <template v-slot:head(order_requirement)="data">
                    {{data ? '' : ''}}
                    1 = Cho xem, không thử
                    <br/>
                    2 = Cho thử
                    <br/>
                    3 = Không cho xem
                </template>
                <template v-slot:head(shipping_option)="data">
                    {{data ? '' : ''}}
                    Gói cước*
                    <br>
                    1 = Nhanh
                    <br>
                    2 = Chuẩn
                    <br>
                    3 = Tiết kiệm
                </template>
            </b-table>

            <b-btn class="btn btn-success rounded-circle" @click="toCreate()">
                <i class="mdi mdi-plus mdi-18px"></i>
            </b-btn>
        </div>
    </div>

</template>

<script>
  import { mapState } from 'vuex'
  export default {
    name: "Products",
    data() {
      return {
        onFetching: true,
        value: [],
        fields: [
          { key: 'name', label: 'Tên sản phẩm', class: ['text-left', 'min-width-180'] },
          { key: 'category', label: 'Loại sản phẩm', class: 'text-left' },
          { key: 'inventory_stock', label: 'Tồn kho' },
          { key: 'quantity_in_pack', label: 'Số lượng hộp 1 liệu trình' },
          // { key: 'weight' },
          // { key: 'length', label: 'Dài (cm)' },
          // { key: 'width', label: 'Rộng (cm)' },
          // { key: 'height', label: 'Cao (cm)' },
          // { key: 'order_requirement', class: 'text-left' },
          // { key: 'shipping_option', class: ['text-left', 'min-width-120'] },
          // { key: 'has_cost_on_publish', label: 'Được phép khai giá không?' },
          // { key: 'publish_cost', label: 'Giá khai hàng' },
          // { key: 'shipping_note', label: 'GHI CHÚ GIAO HÀNG', class: 'text-left' }
        ]
      }
    },
    computed: {
      ...mapState({
        products: state => state.products
      })
    },
    async mounted() {
      const rs = await this.$store.dispatch('fetchProducts')
      if (!rs || rs.error) {
        return
      }
      this.onFetching = false

      this.value = []
      for (const prod of this.products) {
        this.value.push(prod)
      }
    },
    methods: {
      toCreate() {
        this.$router.push({
          name: 'product-detail'
        })
      },
      toDetail(type, id, product) {
        this.$router.push({
          name: 'product-detail',
          params: {
            type,
            product
          },
          query: {
            id
          }
        })
      }
    }
  }
</script>

<style scoped>

</style>
