<template>
    <div class="col-md-12 user-detail">
        <div class="table-container col-md-8 text-left mt-2">
            <b-form @submit="saveUser" @reset="reset" v-if="show">
                <div class="col-md-6 display-inline-block">
                    <label>
                        Tên đăng nhập
                    </label>
                    <b-form-input
                            placeholder="Username"
                            required
                            :disabled="!isCreate" v-model="newUser.username"></b-form-input>
                    <label>Mật khẩu</label>
                    <b-form-input
                            required
                            @focusin="isOutConfirm = false"
                            placeholder="Password" type="password" v-model="newUser.password"></b-form-input>
                    <transition name="fade">
                        <div class="m-1" v-if="isOutConfirm &&
                                    newUser.confirm_password !== newUser.password">
                            <span class="validate-td">Mật khẩu không khớp</span>
                        </div>
                    </transition>
                    <label>Nhập lại mật khẩu</label>
                    <b-form-input
                            required
                            @focusin="isOutConfirm = false"
                            @focusout="isOutConfirm = true"
                            placeholder="Confirm your password" type="password" v-model="newUser.confirm_password"></b-form-input>
                    <transition name="fade">
                        <div class="m-1" v-if="isOutConfirm &&
                                    newUser.confirm_password !== newUser.password" >
                            <span class="validate-td">Mật khẩu không khớp</span>
                        </div>
                    </transition>
                </div>
                <div class="col-md-6 display-inline-block float-right">
                    <label>Tên hiển thị</label>
                    <b-form-input
                            required
                            placeholder="Display name"
                            v-model="newUser.full_name"></b-form-input>
                    <label>Chức danh</label>
                    <b-form-select
                            required
                            :disabled="newUser.username === 'admin'"
                            :options="role"
                            v-model="newUser.role"
                    >
                    </b-form-select>
                    <div class="d-inline-flex align-items-center">
                        <label @click="newUser.is_active = !newUser.is_active">Đang sử dụng</label>
                        <b-form-checkbox
                                id="check-enable"
                                class="ml-3"
                                required v-model="newUser.is_active"></b-form-checkbox>
                    </div>
                </div>
                <div class="col-md-12 text-center m-3">
                    <b-button type="submit" class="mr-3" variant="primary">
                        <!--                    <b-icon-plus v-if="isCreate"></b-icon-plus>-->
                        <!--                    <b-icon-pencil v-else></b-icon-pencil>-->
                        {{isCreate ? 'Create' : 'Edit'}}
                    </b-button>
                    <b-button type="reset" variant="danger">
                        Reset
                    </b-button>
                </div>
            </b-form>
        </div>
    </div>
</template>

<script>
  import { mapState } from 'vuex'
  import {httpService} from "@/services/httpService";
  import {hashBase64} from "@/store/constant";
  export default {
    name: "Detail",
    data() {
      return {
        show: true,
        isCreate: true,
        isOutConfirm: false,
        newUser: {
          username: '',
          password: '',
          role: '',
          confirm_password: '',
          full_name: '',
          is_active: true
        }
      }
    },
    created() {
      if (this.$route.params.type !== 'create' && this.$route.params.user) {
        this.isCreate = false
        const editUser = this.$route.params.user
        for (const key in editUser) {
          this.newUser[key] = editUser[key]
        }
      }
    },
    computed: {
      ...mapState({
        role: state => state.hardCodeData.roles
      })
    },
    methods: {
      async saveUser(evt) {
        evt.preventDefault()
        if (this.newUser.confirm_password !== this.newUser.password) return
        let encryptPass = ''
        try {
          encryptPass = hashBase64(this.newUser.password)
        } catch (e) {
          this.$bvToast.toast(' ', {
            title: `Mật khẩu có ký tự đặc biệt, vui lòng thử lại`,
            solid: true,
            variant: 'danger'
          })
          return
        }
        const res = await httpService.goRequest('/create-update-user', 'POST',
          Object.assign({}, this.newUser, {
            password: encryptPass
          }))
        if (!res.error) {
          this.$bvToast.toast(' ', {
            title: `Tài khoản ${this.newUser.full_name} được ${this.isCreate ? 'tạo' : 'cập nhật'} thành công:`,
            solid: true,
            variant: 'success'
          })
          setTimeout(() => {
            this.$router.push({
              name: 'users'
            })
          }, 800)
        }
      },
      reset(evt) {
        evt.preventDefault()
        this.newUser = Object.assign({}, this.$route.params.user || {})
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
  }
</script>

<style scoped>
    .validate-td {
        color:orangered;
        font-size: 0.875rem;
    }
    label {
        margin-top: 8px;
        font-weight: bold;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
</style>
