<template>
    <div class="col-md-12 mt-1">
        <div class="col-md-3 d-inline-block"></div>
        <div class="col-md-6 d-inline-block">
            <b-table striped hover
                     :busy="onFetching"
                     :items="value"
                     :fields="fields"
                     class="text-left">
                <template v-slot:table-busy>
                    <div class="text-center text-danger my-2">
                        <b-spinner class="align-middle"></b-spinner>
                        <strong class="ml-3">Loading...</strong>
                    </div>
                </template>
                <template v-slot:cell(username)="data">
                    <b-link @click="toDetail('edit', data.item['id'], data.item)">{{data.item.username}}</b-link>
                </template>
                <template v-slot:cell(is_active)="data">
                    {{data.item.is_active ? 'Đang sử dụng' : 'Tắt'}}
                </template>
            </b-table>

            <b-btn class="btn btn-success rounded-circle" @click="toDetail('create', 0)">
                <i class="mdi mdi-plus mdi-18px"></i>
            </b-btn>
        </div>
        <div class="col-md-3 d-inline-block"></div>
    </div>

</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: "List",
    data() {
      return {
        fields: [
          // 'id',
          {key: 'username', label: 'Tên đăng nhập'},
          {key: 'full_name', label: 'Tên đầy đủ'},
          {key: 'role', label: 'Vai trò', sortable: true},
          {key: 'is_active', label: 'Trạng thái', sortable: true},
        ],
        value: [],
        onFetching: true
      }
    },
    async mounted() {
      if (!await this.fetchUsers()) {
        return
      }
      this.onFetching = false
    },
    computed: {
      ...mapState({
        users: state => state.users
      })
    },
    methods: {
      async fetchUsers() {
        this.onFetching = true
        await this.$store.dispatch('fetchUsers')

        this.value = []
        for (const u of this.users) {
          this.value.push(u)
        }
        return true
      },
      toDetail(type, id, user) {
        this.$router.push({
          name: 'user-detail',
          params: {
            type,
            id,
            user
          }
        })
      }
    }
  }
</script>

<style scoped>

</style>
