<template>
    <div class="col-md-12 text-left p-0">
        <b-navbar toggleable="lg" type="dark" variant="info" class="text-uppercase"
                  style="background-color: #1976D2 !important; height: 50px; font-size: 16px; padding-bottom: 1px; padding-left: 0px">
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="col-md-3 col-sm-4">
                    <b-nav-item
                            v-if="allowAnalytics"
                            @click="letsGo('analytics')"
                            class="cursor-pointer"
                            :class="{'working': onRoute('analytics')}"
                    >Tổng quan
                    </b-nav-item>
                    <b-nav-item-dropdown v-if="isMarketing || isAdmin" dropright
                                         class="custom-nav-item"
                                         :class="{'working': onRoute('task') || onRoute('landing-page')}">
                        <template v-slot:button-content>
                            <em>Công việc</em>
                        </template>
                        <b-dropdown-item @click="letsGo('task')" class="text-normal">Đơn hàng</b-dropdown-item>
                        <b-dropdown-item @click="letsGo('landing-page')" class="text-normal">Landing page</b-dropdown-item>
                        <!--                        <b-dropdown-item>Phân quyền</b-dropdown-item>-->
                        <!--                        <b-dropdown-item>Chia việc</b-dropdown-item>-->
                    </b-nav-item-dropdown>
                    <b-nav-item
                            v-else
                            @click="letsGo('task')"
                            class="cursor-pointer"
                            :class="{'working': onRoute('task')}"
                    >Công việc
                    </b-nav-item>


                </b-navbar-nav>
                <b-breadcrumb class="m-0 cursor-pointer"
                              v-if="parentRoute" @click="goBack">
                    <i class="mdi mdi-36px mdi-chevron-left-circle mr-2"></i>
<!--                    <span>-->
<!--                        {{ parentRoute }}-->
<!--                    </span>-->
                </b-breadcrumb>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-item-dropdown right class="mr-3" v-if="['admin','product'].includes(this.user.role)">
                        <template v-slot:button-content>
                            <em>Cấu hình</em>
                        </template>
                        <b-dropdown-item @click="letsGo('users')" class="text-normal">Người dùng</b-dropdown-item>
                        <b-dropdown-item @click="letsGo('products')" class="text-normal">Sản phẩm</b-dropdown-item>
<!--                        <b-dropdown-item>Phân quyền</b-dropdown-item>-->
<!--                        <b-dropdown-item>Chia việc</b-dropdown-item>-->
                    </b-nav-item-dropdown>
                    <b-nav-form v-if="user.role === 'telesales'" class="telesale-noti">
                        <p>Chưa chốt: {{telesaleNotify.CREATED}}</p>
                        <p>Gọi lại: {{telesaleNotify.NOT_PICKED_PHONE}}</p>
                    </b-nav-form>

                    <!--                    <b-nav-item-dropdown text="Lang" right>-->
                    <!--                        <b-dropdown-item href="#">EN</b-dropdown-item>-->
                    <!--                        <b-dropdown-item href="#">ES</b-dropdown-item>-->
                    <!--                        <b-dropdown-item href="#">RU</b-dropdown-item>-->
                    <!--                        <b-dropdown-item href="#">FA</b-dropdown-item>-->
                    <!--                    </b-nav-item-dropdown>-->

                    <b-nav-item-dropdown right>
                        <!-- Using 'button-content' slot -->
                        <template v-slot:button-content>
                            <em>{{user.username ? user.username.toUpperCase() : 'USER' }}</em>
                        </template>
                        <!--                        <b-dropdown-item href="#">Profile</b-dropdown-item>-->
                        <b-dropdown-item @click="signOut()">Sign Out</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>
  import {mapState} from 'vuex'
  import {ROLE_NAME} from "@/constants";

  export default {
    name: "MenuHeader",
    data() {
      return {
        telesaleNotify: {
          CREATED: 0,
          NOT_PICKED_PHONE: 0
        },
        userFetched: null
      }
    },
    async mounted() {
      let user = null
      if (!this.users || !this.users.length) {
        await this.$store.dispatch('fetchUsers')
      }
      user = this.users.find(c => c.username === this.user.username)
      this.userFetched = user
      if (this.user.role === ROLE_NAME.TELESALES.toLowerCase()) {
        this.$store.subscribe((mutation, state) => {
          if (mutation.type === 'pushOrderVuex') {
            this.telesaleNotify.CREATED = 0
            this.telesaleNotify.NOT_PICKED_PHONE = 0
            for (const e of state.orders) {
              if (user && user.id !== e.user_id) continue
              this.telesaleNotify.CREATED += e.status === 'CREATED'
              this.telesaleNotify.NOT_PICKED_PHONE += e.status === 'NOT_PICKED_PHONE'
            }
          }
        })
      }
    },
    computed: {
      ...mapState({
        user: state => state.user,
        users: state => state.users
      }),
      isAdmin() {
        return this.user.role === ROLE_NAME.ADMIN.toLowerCase()
      },
      isMarketing() {
        return this.user.role === ROLE_NAME.MARKETING.toLowerCase()
      },
      parentRoute() {
        const paths = this.$route.path.split('/')
        if (paths.length > 1) {
          return paths[paths.length - 2].toUpperCase()
        } else {
          return ''
        }
      },
      allowAnalytics() {
        return this.userFetched && [ROLE_NAME.ADMIN.toLowerCase(), ROLE_NAME.WAREHOUSE.toLowerCase()].includes(this.userFetched.role)
      }
    },
    methods: {
      onRoute(key) {
        return this.$route.path.includes(key)
      },
      goBack() {
        this.$router.back()
      },
      letsGo(name) {
        this.$router.push({name: name})
      },
      async signOut() {
        await this.$store.commit('logout')
        this.$emit('logout')
      }
    }
  }
</script>

<style scoped>
    .breadcrumb {
        padding: 0px 8px;
        background: transparent;
        color: white;
        font-weight: bold;

        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }
    .breadcrumb:hover {
        /*background: #448AFF;*/
        transition: .5s;
        transform: translateX(-8px);
    }
    .nav-link {
        border-bottom: 8px solid transparent;
        color: rgba(255, 255, 255, 0.75) !important;
    }
    .nav-link:hover {
        transition: .3s;
        border-bottom: 8px solid #ffffff80;
    }
    .working {
        background-color: #ffffff3d;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    .nav-item {
        margin-left: 8px;
    }

    .telesale-noti > form {
        display: block;
        color: #e61000;
        font-weight: bold;
        background-color: #f3f3f3;
        margin-bottom: 8px;
        padding: 0px 12px;
        border-radius: 4px;
        word-spacing: 2px;
        text-transform: none;
    }

    .custom-nav-item em {
        font-style: initial;
        color: #c5d5f2;
    }
    .custom-nav-item {
        border-bottom: 8px solid transparent;
        color: rgba(255, 255, 255, 0.75) !important;
    }
    .custom-nav-item:hover {
        transition: .3s;
        border-bottom: 8px solid #ffffff80;
    }
    .custom-nav-item ul {
        background-color: #5d94dc !important;
    }
    .custom-nav-item ul li a {
        color: #c5d5f2;
    }
</style>
