<template>
    <transition name="fade">
        <div v-if="order" class="col-md-12 p-0 mt-2 task-detail">
            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <div class="col-md-3 fixed-float-left table-container">
                    <label>Danh sách sản phẩm</label>
                    <div v-for="(item, index) in line_items" :key="index + 'line_item_input'"
                         class="line-item d-inline-flex justify-content-between mb-3">
                        <div class="col-md-11 display-inline-block p-0">
                            <div class="col-md-12 p-0 d-inline-flex">
                                <b-form-select
                                        :disabled="index === 0"
                                        :options="products.map(c => c.name)"
                                        :v-model="item.product_name"
                                        :value="item.product_name"
                                        id="input-3"
                                        @change="loadQttAndPrice(item, $event)"
                                        required
                                ></b-form-select>
                            </div>
                            <div class="col-md-12 p-0 d-inline-flex justify-content-between align-items-center mt-1">
                                <b-input
                                        :min="1" class="display-inline-block col-md-4 col-sm-12"
                                        placeholder="Số lượng" type="number"
                                        required
                                        @change="increasePrice(item)"
                                        v-model="item.quantity">
                                </b-input>
                                <b-input
                                        :min="1" class="display-inline-block col-md-6 col-sm-12"
                                        placeholder="Giá" type="number"
                                        required
                                        v-model="item.price"
                                        @input="item.is_custom = true"
                                        >
                                </b-input>
                            </div>
                        </div>
                        <div
                                class="btn-delete-line"
                                :style="index === 0 ? 'opacity: 0' : ''"
                                @click="index === 0 ? '' : line_items.splice(index, 1)"
                        >
                            <a class="cursor-pointer delete-line-item">
                                <i class="mdi mdi-minus mdi-18px"></i>
                            </a>
                        </div>
                    </div>
                    <div class="p-0 col-md-12 justify-content-between d-inline-flex fill"
                         style="align-items: center; vertical-align: middle;">
                        <div class="p-0 m-0 display-inline-block fill">
                            <div class="d-inline-flex justify-content-between align-items-center col-md-12" style="height: 100%">
                                <h3 class="display-inline-block">Tổng</h3>
                                <div class="float-right display-inline-block">
                                                <span class="text-big text-semi-bold">
                                                    {{totalPrice}}
                                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="text-right p-0 display-inline-block">
                            <b-btn class="btn btn-success rounded-circle" @click="newLineItems()">
                                <i class="mdi mdi-plus mdi-18px"></i>
                            </b-btn>
                        </div>
                        <div style="width: 2.5rem; height: 10px"></div>
                    </div>
                </div>
                <div class="col-md-3 display-inline-block" style="opacity: 0; height: 20px;"></div>
                <div class="b-table text-left col-md-7 table-container">
                    <div class="col-md-12 p-0 m-0 d-flex">
                        <div class="col-md-6 display-inline-block">
                            <div class="col-md-12 bill-no-modify">
                                <b-form-group label="Họ và tên" class="form-group-input">
                                    <b-form-input
                                        v-model="order.customer_name"
                                        required
                                    ></b-form-input>
                                </b-form-group>
                                <b-form-group label="Số điện thoại" class="form-group-input">
                                    <b-form-input
                                            v-model="order.phone_number"
                                            required
                                    ></b-form-input>
                                </b-form-group>
                                <b-form-group
                                        id="input-group-1"
                                        label="Ngày có đơn"
                                >
                                    <label class="ml-4">{{order.created_at | formatDateValue}}</label>
                                </b-form-group>
                                <b-form-group id="input-group-2" label="Địa chỉ khách hàng nhập">
                                    <label class="ml-4">{{order.input_address}}</label>
                                </b-form-group>
                            </div>
                            <div class="col-md-12"
                                 style="margin-top: 25px;">
                                <b-form-group label="Trạng thái ship">
                                    <b-form-select
                                            :disabled="order.shipping_company !== 'local'"
                                            :options="fulfillmentStatus"
                                            v-model="order.shipping_status"
                                    ></b-form-select>
                                </b-form-group>
                                <b-form-group label="Mã vận đơn">
                                    <b-form-input
                                        v-model="order.shipping_code"
                                        :disabled="!(isAdmin || isWarehouse)"
                                    >
                                    </b-form-input>
                                </b-form-group>
                            </div>
                        </div>
                        <div class="col-md-6 display-inline-block tele-main">
                            <b-form-group label="Trạng thái gọi">
                                <transition name="fade">
                                    <label
                                            class="hint-label"
                                            v-if="!showChangeStatus" @click="showChangeStatus = true">
                                        <i class="mdi mdi-tools"></i>
                                        Đổi trạng thái
                                    </label>
                                </transition>
                                <b-form-select
                                        :disabled="!showChangeStatus"
                                        :options="showChangeStatus ? callStatus : fulfillmentStatus"
                                        v-model="order.status"
                                        @change="forceUpdate"
                                        required
                                ></b-form-select>
                            </b-form-group>
                            <b-form-group label="Ghi chú tele">
                                <b-form-textarea
                                        v-model="order.tele_note"
                                        type="textarea"
                                ></b-form-textarea>
                            </b-form-group>
                            <b-form-group label="Ghi chú ship">
                                <b-form-textarea
                                        v-model="order.shipping_note"
                                        type="textarea"
                                ></b-form-textarea>
                            </b-form-group>
                            <b-form-group label="Dịch vụ giao hàng">
                                <b-form-radio-group
                                        buttons
                                        button-variant="outline-success"
                                        @change="resetFee"
                                        :options="shippingService"
                                        v-model="order.shipping_company" name="shipping_company"
                                        class="display-inline-block ml-3"
                                        :required="order.status === 'BUYER_CONFIRMED'"
                                >
                                </b-form-radio-group>
                            </b-form-group>
                            <template v-if="order.shipping_company && order.shipping_company !== 'local'">
                                <b-form-group label="Lọc theo tỉnh">
                                    <b-form-select :options="hardcodeProvinces"
                                                   v-model="provinceId">

                                    </b-form-select>
                                </b-form-group>
                                <b-form-group label="Khu vực ship" :class="showCollapse ? 'm-0' : ''">
                                    <b-form-input
                                            v-if="!provinceId"
                                            :required="order.status === 'BUYER_CONFIRMED' && order.shipping_company === 'ghn'"
                                            @input="quickSearch($event)" v-model="districtMining"
                                            @focusin="onFocusSearchDistrict = true"
                                            @focusout="timeoutFocusOut()"
                                    >
                                    </b-form-input>
                                    <b-form-select
                                            :options="getFilteredDistrict"
                                            @change="selectDistrictId($event)"
                                            v-else>
                                    </b-form-select>
                                </b-form-group>
                                <b-collapse :visible="showCollapse" id="collapse-3" :class="showCollapse ? 'mb-2' : ''">
                                    <div class="p-0 m-0 col-md-12 justify-content-center d-flex">
                                        <i class="mdi mdi-chevron-down mdi-18px"></i>
                                    </div>
                                    <b-card
                                            v-for="(dist, index) in districtSuggestion"
                                            :key="'card-suggest'+dist.DistrictID+ index"
                                            @mouseenter="clearMyTimeout()"
                                            @click="selectDistrict(dist)"
                                            class="card-custom cursor-pointer"
                                    >
                                        {{dist.DistrictName}} - {{dist.ProvinceName}}
                                    </b-card>
                                </b-collapse>
                                <template v-if="districtId > 0">
                                    <b-form-group label="Phường/Xã" v-if="!wardLoading" >
                                        <b-form-select
                                                :options="listWards"
                                                v-model="order.ghn_request.ToWardCode"
                                                required
                                        ></b-form-select>
                                    </b-form-group>
                                    <b-spinner v-else variant="success" small class="m-2"></b-spinner>
                                    <b-form-group label="Số nhà, ngách/ngõ/hẻm">
                                        <b-form-textarea
                                                v-model="order.ghn_request.ShippingAddress"
                                                type="textarea"
                                        ></b-form-textarea>
                                    </b-form-group>
                                </template>
                            </template>
                            <template v-if="order.shipping_company === 'local'">
                                <b-form-group label="Địa chỉ ship">
                                    <b-form-textarea
                                            v-model="order.shipping_address"
                                            type="textarea"
                                            required
                                    ></b-form-textarea>
                                </b-form-group>
                            </template>
                            <b-form-group label="Phí ship">
                                <b-input
                                        type="number"
                                        :disabled="order.shipping_company !== 'local'"
                                        v-model="order.shipping_fee"
                                        :value="order.shipping_fee"
                                        :required="order.shipping_company === 'local'"
                                ></b-input>
                            </b-form-group>
                        </div>
                    </div>
                    <div class="col-md-12 text-center mt-4">
                        <b-button type="submit" variant="primary" :disabled="onAction">
                            Save
                        </b-button>
                        <b-button type="reset" variant="danger" class="ml-4">Reset</b-button>
                    </div>
                </div>
            </b-form>
        </div>
    </transition>
</template>

<script>
  import { mapState } from 'vuex'
  import { DISTRICTS } from '@/assets/ghn-hardcode/districts'
  import {httpService} from "@/services/httpService";
  import {PROVINCES} from "@/assets/ghn-hardcode/provinces";
  import {ROLE_NAME} from "@/constants";
  export default {
    name: "Detail",
    data () {
      return {
        onAction: false,
        wardLoading: false,
        defaultValue: {},
        id: this.$route.params.id,
        line_items: [],
        order: {
          ghn_request: {},
          shipping_fee: ''
        },
        foods: [{ text: 'Select One', value: null }, 'Carrots', 'Beans', 'Tomatoes', 'Corn'],
        show: true,
        isTyping: 0,
        districtId: -1,
        districtMining: '',
        districtSuggestion: [],
        onFocusSearchDistrict: false,
        provinceId: '',
        timeout: null,
        listWards: [],
        showChangeStatus: true
      }
    },
    async mounted() {
      if (!this.id) {
        this.$bvToast.toast('Đang chờ chuyển trang...',
          {
            title: 'Hết hạn truy cập hoặc bạn không có quyền truy cập',
            variant: 'danger'
          })
        setTimeout(() => {
          this.$router.push({
            name: 'task'
          })
        }, 1500)
        return
      }
      await this.getDefaultValue()
      this.defaultValue = {
        order: Object.assign({}, this.order),
        line_items: [...this.line_items]
      }
      const existStt = this.order.status === 'CREATED' || this.callStatus.find(c => c.value === this.order.status)
      if (!existStt) {
        this.showChangeStatus = false
      }
    },
    computed: {
      ...mapState({
        user: state => state.user,
        products: state => state.products,
        callStatus: state => state.hardCodeData.callStatus,
        fulfillmentStatus: state => state.hardCodeData.fulfillStatus,
        shippingService: state => state.hardCodeData.shippingService,
      }),
      getFilteredDistrict() {
        const arr = []
        for (const item of DISTRICTS.data) {
          if (item.ProvinceID.toString() === this.provinceId) {
            arr.push({
              value: item.DistrictID,
              text: `${item.DistrictName} - ${item.ProvinceName}`
            })
          }
        }
        return arr
      },
      hardcodeProvinces() {
        return [{
          value: '',
          text: '--- Chưa chọn ---'
        }, ...PROVINCES]
      },
      isAdmin() {
        return this.user.role && this.user.role.toLowerCase() === ROLE_NAME.ADMIN.toLowerCase()
      },
      isWarehouse() {
        return this.user.role && this.user.role.toLowerCase() === ROLE_NAME.WAREHOUSE.toLowerCase()
      },
      showCollapse() {
        return this.onFocusSearchDistrict && this.districtId < 0
      },
      totalPrice() {
        if (!this.line_items || !this.line_items.length) {
          return 0
        }
        let count = 0
        for (const line of this.line_items) {
          count += !Number.isNaN(Number(line.price)) ? Number(line.price) : 0
        }
        return count.toLocaleString()
      },
      isShipGhn() {
        return this.order.shipping_company === 'ghn'
      }
    },
    filters: {
      formatDateValue(val) {
        if (!val) {
          return ''
        }
        const d = new Date(val * 1000)
        return `${d.toLocaleDateString()} ${d.toLocaleTimeString()}`
      }
    },
    methods: {
      forceUpdate() {
        this.$nextTick(() => {
          this.$forceUpdate()
        })
      },
      resetFee() {
        if (!this.order.ghn_request.ServiceID) {
          this.order.shipping_fee = ''
        }
      },
      async getDefaultValue() {
        const res = await httpService.goRequest(`/orders?ids=${this.id}`)
        if (!res.result || !res.result.length) {
          this.$bvToast.toast('Not found task for work!')
          setTimeout(() => {
            this.$router.push({
              name: 'task'
            })
          }, 5000)
          return
        }
        this.order = Object.assign(this.order, res.result[0])
        if (!this.order.ghn_request) {
          this.order.ghn_request = {}
        }
        if (this.order.status === 'CREATED') {
          if (this.order.line_items.length) {
            const firstLine = this.order.line_items[0]
            const prod = this.products.find(c => c.id === firstLine.product_id)
            if (prod && prod.shipping_option && prod.shipping_option.shipping_note) {
              this.order.shipping_note = prod.shipping_option.shipping_note
            }
          }
        }
        if (this.order.line_items && this.order.line_items.length) {
          for (const line of this.order.line_items) {
            if (!line.price) {
              const prod = this.products.find(c => c.id === line.product_id)
              line.price = prod ? prod.cost || 0 : 0
            }

            this.line_items.push(line)
          }
        }
        // load address
        const id = this.order.ghn_request.ToDistrictID || 0
        if (id > 0) {
          const dist = DISTRICTS.data.find(c => c.DistrictID === id)
          if (dist) {
            this.selectDistrict(dist)
          }
        }
      },
      loadQttAndPrice(item, evt) {
        item.product_name = evt
        const prod = this.products.find(c => c.name === evt)
        if (prod) {
          item.price = prod.cost
          item.quantity = prod.quantity_in_pack
          item.publish_cost = prod.shipping_option.has_cost_on_publish ? prod.shipping_option.publish_cost : 0
        }
      },
      increasePrice(item) {
        if (item.is_custom) return
        const prod = this.products.find(c => c.name === item.product_name)
        if (prod) {
          item.price = item.quantity * prod.cost
        }
      },
      newLineItems() {
        this.line_items.push({
          product_name:'', quantity: 0, price: 0, publish_cost: 0
        })
      },
      async onSubmit(evt) {
        this.onAction = true
        evt.preventDefault()
        const newLines = []
        for (const line of this.line_items) {
          line.quantity = Number.parseInt(line.quantity)
          line.price = Number(line.price)
          if (Number.isNaN(line.quantity) || Number.isNaN(line.price)) {
            this.$bvToast.toast('Số lượng sản phẩm/Giá sản phẩm phải là dạng số!',{
              title: 'Lỗi',
              variant: 'danger'
            })
            return
          }
          newLines.push(line)
        }
        this.order.line_items = newLines
        if (this.order.shipping_company === 'local') {
          this.order.ghn_request = {}
        } else {
          Object.assign(this.order.ghn_request, {
            ToDistrictID: this.districtId,
            CustomerName: this.order.customer_name,
            CustomerPhone: this.order.phone_number
          })
          const ward = this.listWards.find(c => c.value === this.order.ghn_request.ToWardCode)
          this.order.shipping_address = `${this.order.ghn_request.ShippingAddress}${ward ? ' - ' + ward.text: ''} - ${this.districtMining}`
        }
        Object.assign(
          this.order, {
            shipping_fee: Number.isNaN(Number(this.order.shipping_fee)) ? 0 : Number(this.order.shipping_fee)
          }
        )

        const res = await httpService.goRequest('/update-order', 'PUT', this.order)
        this.onAction = false
        if (!res.error) {
          this.$bvToast.toast('Trạng thái đơn: ' + this.order.status ? this.callStatus.find(c => c.value === this.order.status).text : '', {
            title: 'Đơn hàng đã được cập nhật thông tin',
            solid: true,
            variant: 'success'
          })
          setTimeout(() => {
            this.$router.push({
              name: 'task'
            })
          }, 800)
          return
        }
        this.$bvToast.toast('Không thể cập nhật trạng thái đơn hàng!',{
          title: 'Lỗi',
          variant: 'danger'
        })
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.line_items = []
        this.order = Object.assign({}, this.defaultValue.order)
        this.line_items = [...this.defaultValue.line_items]
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      },
      clearMyTimeout(){
        clearTimeout(this.timeout)
      },
      timeoutFocusOut(){
        this.timeout = setTimeout(() => {
          this.onFocusSearchDistrict = false
        }, 500)
      },
      selectDistrictId(evt) {
        this.districtId = evt
        const dist = DISTRICTS.data.find(c => c.DistrictID === evt)
        if (dist) {
          this.districtMining = `${dist.DistrictName} - ${dist.ProvinceName}`
        }
      },
      selectDistrict(dist) {
        this.districtId = dist.DistrictID
        this.districtMining = `${dist.DistrictName} - ${dist.ProvinceName}`
      },
      quickSearch(val) {
        if (this.districtId > 0) {
          this.districtId = -1
          this.isTyping = 0
          this.districtMining = ''
          return
        }
        const currentTyping = ++this.isTyping
        setTimeout(() => {
          this.$nextTick(() => {
            this.searchNow(val, currentTyping)
          })
        }, 500)
      },
      searchNow(val, currentTyping) {
        let currentCount = 0
        this.districtSuggestion = []
        if (currentTyping === this.isTyping) {
          for (const d of DISTRICTS.data) {
            const lowTrim = val.trim().toLowerCase()
            if (d.DistrictName.toLowerCase().match(lowTrim) || d.DistrictName.toLowerCase().includes(lowTrim)) {
              currentCount++
              this.districtSuggestion.push(d)
              break
            }
            if (currentCount > 9) {
              return
            }
          }
          for (const d of DISTRICTS.data) { // loop 2 times
            const spl = val.split(' ')
            for (const word of spl) {
              const lowTrim = word.trim().toLowerCase()
              if (!lowTrim) {
                continue
              }
              if (!d.MiningText || d.MiningText === 'NULL' || !Number.isNaN(Number(d.MiningText))) {
                if (d.DistrictName.toLowerCase().match(lowTrim)) {
                  currentCount++
                  this.districtSuggestion.push(d)
                  break
                }
              } else {
                if (d.MiningText.toLowerCase().match(lowTrim)) {
                  currentCount++
                  this.districtSuggestion.push(d)
                  break
                }
              }
            }
            if (currentCount > 9) {
              return
            }
          }
        }
        if (this.districtSuggestion.length === 0) {
          this.districtSuggestion.push(...DISTRICTS.data.slice(0, 20))
        }
      }
    },
    watch: {
      districtId: async function(val) {
        if (val > 0) {
          this.wardLoading = true
          try {
            const res = await httpService.goRequest(`/ghn-get-wards?district=${this.districtId}`, 'GET')
            if (!res.error && res.success && res.result && res.result.data && res.result.data.Wards && res.result.data.Wards.length) {
              const reformat = []
              for (const ward of res.result.data.Wards) {
                reformat.push(Object.assign({
                  value: ward.WardCode,
                  text: ward.WardName
                }, ward))
              }
              this.listWards = reformat
            }
          } catch (e) {
            console.error(e)
          }
          this.wardLoading = false
        } else {
          this.listWards = []
        }
      }
    }
  }
</script>

<style scoped>

</style>
