<template>
    <ManageOrder />
</template>

<script>
  import {mapState} from 'vuex'
  import ManageOrder from "@/views/Task/ManageOrder";

  export default {
    name: "Index",
    computed: {
      ...mapState({
        user: state => state.user
      }),
    },
    components: {
      ManageOrder
    }
  }
</script>

<style scoped>
    .custom-tooltip {
        position: absolute;
        width: 150px;
        height: 70px;
        border: 1px solid cornflowerblue;
        overflow: hidden;
        pointer-events: none;
        transition: opacity 1s;
        background-color: white;
    }

    .custom-tooltip.ag-tooltip-hiding {
        opacity: 0;
    }

    .custom-tooltip p {
        margin: 5px;
        white-space: nowrap;
    }

    .custom-tooltip p:first-of-type {
        font-weight: bold;
    }

    .container-search-table {
        border: 1px solid #c9c9c9;
        border-radius: 8px;
    }

    .search-table th {
        padding: 1rem;
        width: 165px;
    }

    .search-table td {
        padding: 1rem;
    }

    .search-table tr:first-child > th, .search-table tr:first-child > td {
        padding-bottom: 0px;
    }
</style>
