<template>
    <div class="col-md-12 task-landing-page">
        <transition name="fade">
            <div class="col-md-12 text-left mt-2" v-if="productSelected > 0">
                <div class=" col-md-3 display-inline-block text-right" style="vertical-align: top">
                    <div class="display-inline-block" @click="productSelected = 0">
                        <b-tag
                                class="custom-tag table-container cursor-pointer"
                                disabled
                        >
                            <i class="mdi mdi-chevron-double-left mdi-18px"></i>
                            Back
                        </b-tag>
                    </div>
                </div>
                <div class="table-container-low col-md-6 text-left display-inline-block">
                    <b-form @submit="saveAll" @reset="reset" v-if="show">
                        <div class="col-md-12 display-inline-block">
                            <label>
                                Link landing page
                            </label>
                            <b-form-input
                                    required
                                    v-model="landing_page.url"></b-form-input>
                        </div>
                        <div class="col-md-12 text-center m-3">
                            <b-button type="submit" class="mr-3" variant="primary">
                                <!--                    <b-icon-plus v-if="isCreate"></b-icon-plus>-->
                                <!--                    <b-icon-pencil v-else></b-icon-pencil>-->
                                Create
                            </b-button>
                            <b-button type="reset" variant="danger">
                                Reset
                            </b-button>
                        </div>
                    </b-form>
                </div>
                <div class="col-md-12 d-inline-flex justify-content-center">
                    <b-table striped hover
                             :busy="onFetching"
                             :items="pages"
                             :fields="['url']"
                             class="col-md-8 text-left table-container-low mt-3" style="border: 0px">
                        <template v-slot:table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong class="ml-3">Loading...</strong>
                            </div>
                        </template>
                    </b-table>
                </div>
            </div>
            <div v-else class="col-md-12">
                <div class="col-md-4 d-inline-flex justify-content-center mt-2 p-0">
                    <b-form-input
                            placeholder="Tìm kiếm theo tên sản phẩm, loại sản phẩm"
                            v-model="searchProduct"
                    >

                    </b-form-input>
                </div>
                <div class="col-md-12 pl-0 pr-0 pt-2">
                    <div class="col-md-4 display-inline-block table-container-low">
                        <div class="display-block">
                            <h5 class="m-2">Tạo nhanh</h5>
                        </div>
                        <b-form @submit="saveAll" @reset="reset" v-if="show">
                            <div class="col-md-6 display-inline-block pl-0">
                                <b-form-input
                                        placeholder="Link landing page"
                                        required
                                        v-model="landing_page.url"></b-form-input>
                            </div>
                            <div class="col-md-6 display-inline-block float-right pr-0">
                                <b-form-select
                                        required
                                        :options="products"
                                        value-field="id"
                                        text-field="name"
                                        v-model="landing_page.product_id"
                                >
                                </b-form-select>
                            </div>
                            <div class="col-md-12 text-center mt-2">
                                <b-button type="submit" class="mr-3" variant="primary">
                                    <!--                    <b-icon-plus v-if="isCreate"></b-icon-plus>-->
                                    <!--                    <b-icon-pencil v-else></b-icon-pencil>-->
                                    Create
                                </b-button>
                                <b-button type="reset" variant="danger">
                                    Reset
                                </b-button>
                            </div>
                        </b-form>
                    </div>
                </div>

                <div v-for="(product, index) in productsInSearch"
                     :key="product.id + '-' + index"
                     class="table-container-low col-md-3 display-inline-block m-1 mt-3 text-left cursor-pointer product-container"
                     @click="selectProduct(product.id)"
                >
                    <h4>{{product.name}}</h4>
                    <div class="col-md-12 mt-2">
                        <p class="display-inline-block font-italic">{{product.category}}</p>
                        <p class="float-right text-right display-inline-block">{{product.cost.toLocaleString()}} đ</p>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
  import {mapState} from 'vuex'
  import {httpService} from "@/services/httpService";

  export default {
    name: "LandingPage",
    data() {
      return {
        onFetching: false,
        show: true,
        productSelected: -1,
        searchProduct: '',
        pages: [],
        landing_page: {
          url: '',
          product_id: 0
        },
        productsInSearch: []
      }
    },
    mounted() {
      this.productsInSearch = this.cloneProducts
    },
    computed: {
      ...mapState({
        user: state => state.user,
        products: state => state.products
      }),
      cloneProducts() {
        return [...this.products]
      }
    },
    methods: {
      async selectProduct(id) {
        if (id <= 0) return
        this.productSelected = id
        this.onFetching = true
        const res = await httpService.goRequest(`/landing-pages?product_id=${id}`)
        this.pages = res.result

        this.onFetching = false
      },
      async saveAll(evt) {
        evt.preventDefault()
        const product_id = this.productSelected > 0 ? this.productSelected : this.landing_page.product_id
        if (!product_id) {
          this.$bvToast.toast('Chưa chọn sản phẩm tạo landing page', {
            title: 'Lỗi',
            variant: 'danger'
          })
          return
        }
        const obj = Object.assign(this.landing_page, {
          product_id,
          user_id: this.user.id,
          url: this.landing_page.url,
          name: ''
        })


        const res = await httpService.goRequest('/landing-page','POST', obj)
        if (res.success) {
          this.$bvToast.toast('Đã tạo cấu hình landing page cho sản phẩm', {
            title: 'Thành công!',
            variant: 'success'
          })
          this.selectProduct(product_id)
          this.landing_page.url = ''
        } else {
          this.$bvToast.toast('Không thể tạo landing page. Lỗi không xác định.', {
            title: 'Lỗi!',
            variant: 'danger'
          })
        }
      },
      reset(evt) {
        evt.preventDefault()
        this.landing_page.url = ''
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    },
    watch: {
      searchProduct(val) {
        if (!val.trim()) {
          this.productsInSearch = this.cloneProducts
          return
        }
        this.productsInSearch = []
        const valTrim = val.trim()
        const matchName = this.cloneProducts.filter(c => c.name.includes(valTrim))
        const matchCategory = this.cloneProducts.filter(c => c.category.includes(valTrim))
        const uniqueIds = [...new Set([...matchName.map(c => c.id), ...matchCategory.map(c => c.id)])]
        for (const e of this.cloneProducts) {
          const matched = uniqueIds.find(c => c === e.id)
          if (matched) {
            this.productsInSearch.push(e)
          }
        }
      }
    }
  }
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }
</style>
