<template>
    <transition name="fade">
        <div v-if="onInit" class="mt-5">
            <b-spinner variant="primary" type="grow" label="Loading..."></b-spinner>
        </div>
        <div v-else class="col-md-12 mt-1 text-left task-list">
            <b-nav-item-dropdown
                    class="display-inline-block dropdown-action dropdown-multi-select"
                    style="border: 0px">
                <template v-slot:button-content>
                    <button class="btn btn-secondary btn-in-dropdown" style="line-height: 20px;">
                        <i class="mdi mdi-eye-settings"></i>
                        Ẩn bớt cột
                    </button>
                </template>
                <b-form-select
                        @change="changeHideColumn"
                        :options="hideColumnOptions"
                        value-field="field"
                        class="hide-col-select"
                        text-field="headerName"
                        multiple
                        v-model="hiddenFields"
                >
                </b-form-select>
            </b-nav-item-dropdown>
            <b-button
                    :class="filterData.invisible ? 'collapsed' : null "
                    :aria-expanded="filterData.invisible ? 'false' : 'true'"
                    style="width: 130px"
                    aria-controls="collapse-search-div"
                    @click="filterData.invisible = !filterData.invisible"
                    v-b-toggle="'collapse-search-div'" class="m-1">
                {{ filterData.invisible ? 'Hiện hộp tìm kiếm' :'Ẩn hộp tìm kiếm'}}
            </b-button>
            <b-nav-item-dropdown class="display-inline-block dropdown-action" v-if="allowUseTools">
                <template v-slot:button-content>
                    <button class="btn btn-success btn-in-dropdown" style="line-height: 20px;">
                        <i class="mdi mdi-settings"></i>
                        Công cụ
                    </button>
                </template>
                <div class="dropdown-item cursor-pointer">
                    <b-icon-download></b-icon-download>
                    <label for="import-data" style="margin-bottom: 0px;" class="ml-1 cursor-pointer">
                        Import data
                    </label>
                    <input id="import-data"
                           type="file"
                           style="display: none;"
                           accept=".csv"
                           @click="$event.target.value = ''"
                           @change="goSelectFileUpload($event)"
                    />
                </div>
                <b-dropdown-item>
                    <b-icon-arrow-repeat></b-icon-arrow-repeat>
                    Đồng hộ GHN
                </b-dropdown-item>
                <b-dropdown-item @click="exportFile">
                    <i class="mdi mdi-file-excel" style="padding: 0px 2px"></i> Xuất excel
                </b-dropdown-item>
                <b-dropdown-item @click="confirmCreateOrdersGHN">
                    <b-icon-check-circle></b-icon-check-circle>
                    Xuất kho
                </b-dropdown-item>
                <b-dropdown-item @click="showModalAssign">
                    <b-icon-arrow-bar-right></b-icon-arrow-bar-right>
                    Chuyển đơn
                </b-dropdown-item>
            </b-nav-item-dropdown>
            <div class="d-inline-flex align-items-center"
                 @click="fitColumn">
                <b-form-checkbox
                        id="check-enable"
                        v-model="is_fit_column"
                        class="ml-3"></b-form-checkbox>
                <label style="margin-bottom: 0px" for="check-enable">Chỉnh kích thước cột</label>
            </div>
            <div class="float-right btn m-1 display-inline-block cursor-default" style="min-width: 600px;">
                <div class="col-md-4 display-inline-block">
                    <p class=" text-small">
                        Số lượng đang chọn: <span class="label-row">{{currentSelected}}</span>
                    </p>
                </div>
                <div class="col-md-4 display-inline-block">
                    <p class=" text-small">
                        Số lượng đang lọc: <span class="label-row">{{currentFiltered}}</span>
                    </p>
                </div>
                <div class="col-md-4 display-inline-block">
                    <p class=" text-small">
                        Tổng đơn hàng: <span class="label-row">{{task.length || 0}}</span>
                    </p>
                </div>
            </div>
            <b-collapse style="margin-bottom: 20px" id="collapse-search-div" visible>
                <div class="container-search-table">
                    <table class="col-md-12 mb-3 search-table">
                        <tr>
                            <td>
                                <b-form-input
                                        autocomplete="off"
                                        id="product-search"
                                        placeholder="Chọn sản phẩm"
                                        @focus="filterData.product_id.show = true"
                                        @focusout="delayToCatchEvent('product_id')"
                                        v-model="filterData.product_id.typing"
                                >
                                </b-form-input>
                                <template v-if="filterData.product_id.show === true">
<!--                                <template>-->
                                    <b-card
                                            v-for="(item, index) in filterOptions('product_id', formatedProducts)"
                                            :key="'option'+item.value"
                                            class="cursor-pointer select-typing"
                                            @click.stop="solveEventProduct(item)"
                                            :style="`top: ${51 + index * 36}px`"
                                    >
                                        <b-checkbox
                                                disabled
                                            v-model="item.checked"
                                        >
                                        </b-checkbox>
                                        {{item.text}}
                                    </b-card>
                                </template>
                            </td>
                            <td>
                                <b-nav-item-dropdown right class="dropdown-multi-select">
                                    <!-- Using 'button-content' slot -->
                                    <template v-slot:button-content>
                                        <em :class="{ 'focus-dropdown': filterData.multi_status.show }">
                                            {{ filterData.multi_status.value.length > 1 ?
                                            filterData.multi_status.value.length + ' trạng thái' :
                                            getDropdownMultiText('multi_status', orderStatuses)}}</em>
                                    </template>
                                    <!--                                    <b-dropdown-item-->
                                    <!--                                            v-for="(item, index) in callStatus"-->
                                    <!--                                            :key="'od-ffstatus-name' + index"-->
                                    <!--                                            @click="filterDropdown(item, 'status')">-->
                                    <!--                                        {{item.text}}-->
                                    <!--                                    </b-dropdown-item>-->
                                    <b-form-select
                                            :options="orderStatuses"
                                            multiple
                                            class="dropdown-filter-status"
                                            v-model="filterData.multi_status.value"
                                    >
                                        <slot name="first">
                                            {{filterData.multi_status.default[0]}}
                                        </slot>
                                    </b-form-select>
                                </b-nav-item-dropdown>
                            </td>
                            <td v-if="user.role.toLowerCase() !== 'telesales' && users && users.length">
                                <b-form-input
                                        autocomplete="off"
                                        list="user-list"
                                        placeholder="Chọn telesales"
                                        v-model="filterData.user_id.typing"
                                        @input="selectTyping('user_id', filterOptions('user_id', formatedUsers).find(c => c.text === filterData.user_id.typing))"
                                >
                                </b-form-input>
                                <datalist id="user-list">
                                    <option v-for="item in filterOptions('user_id', formatedUsers)"
                                            :key="'user-option'+item.value"
                                    >
                                        {{item.text}}</option>
                                </datalist>
<!--                                <template v-if="filterData.user_id.show === true">-->
<!--                                    <b-card-->
<!--                                            v-for="(item, index) in filterOptions('user_id', formatedUsers)"-->
<!--                                            :key="'user-option'+item.value"-->
<!--                                            class="cursor-pointer select-typing"-->
<!--                                            @click="selectTyping('user_id', item)"-->
<!--                                            :style="`top: ${51 + index * 36}px`"-->
<!--                                    >-->
<!--                                        {{item.text}}-->
<!--                                    </b-card>-->
<!--                                </template>-->
                            </td>
                            <td v-else></td>
                            <td style="width: 220px">
                                <b-button @click="filterData.from.show = true">Từ ngày <i class="mdi mdi-calendar"></i>
                                </b-button>
                                <DatePicker
                                        v-if="filterData.from.show"
                                        v-model="filterData.from.value"
                                        @close="filterData.from.show = false"
                                        :format="formatDate"
                                        :color="'#2aa2b8'"
                                />
                                {{ filterData.from.value }}
                            </td>
                            <td style="width: 220px">
                                <b-button @click="filterData.to.show = true">Đến ngày <i class="mdi mdi-calendar"></i>
                                </b-button>
                                <DatePicker
                                        v-if="filterData.to.show"
                                        v-model="filterData.to.value"
                                        @close="filterData.to.show = false"
                                        :format="formatDate"
                                        :color="'#2aa2b8'"
                                />
                                {{ filterData.to.value }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b-input placeholder="Số điện thoại"
                                         autocomplete="off"
                                         v-model="filterData.phone_customer.value"></b-input>
                            </td>
                            <td class="d-inline-flex justify-content-center align-items-center w-100">
                                <b-input
                                        :disabled="filterData.shipping_code.filter_empty"
                                        placeholder="Mã vận đơn"
                                         autocomplete="off"
                                         v-model="filterData.shipping_code.value"></b-input>
<!--                                <b-checkbox-->
<!--                                        class="mr-1 check-shipping-code"-->
<!--                                        @change="filterEmptyShipCode"-->
<!--                                        v-model="filterData.shipping_code.filter_empty">Chưa có mã</b-checkbox>-->
                            </td>
                            <td>
                                <b-input placeholder="Nguồn"
                                         v-model="filterData.source.value"></b-input>
                            </td>
                            <td colspan="2">
                                <b-input placeholder="Landing page"
                                         autocomplete="off"
                                         v-model="filterData.landing_page.value"></b-input>
                            </td>
                        </tr>
                    </table>
                    <div class="text-right" style="margin-bottom: 12px">
                        <b-button
                                :disabled="onSearching"
                                @click="resetFilter(false)"
                                class="mr-3">
                            <b-icon-arrow-counterclockwise></b-icon-arrow-counterclockwise>
                            Reset bộ lọc
                        </b-button>
                        <button class="btn-primary btn mr-2 display-inline-block"
                                :disabled="onSearching"
                                @click="rebindData">
                            <b-icon-search></b-icon-search>
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            </b-collapse>
            <div v-if="onSearching" class="text-center">
                <b-spinner variant="primary" type="grow" label="Loading..."></b-spinner>
            </div>
            <div style="height: 450px; border-top: 2px solid #c9c9c9; font-size: 12px; transition: 0.3s" id="divData"
                 class="ag-theme-fresh col-md-12 text-left mt-1"
                 :class="{opacity0: onSearching}"
            >
            </div>
            <b-modal id="auth-code" hide-footer title="HẾT HẠN TRUY CẬP GOOGLE SHEET">
                <div v-if="isAdmin" class="col-md-12 text-center">
                    <transition name="fade">
                        <b-button v-if="!onRequestAccess" type="primary" @click="requestAuthCode">
                            Lấy mã mới
                        </b-button>
                        <div v-else>
                            <b-input v-model="auth_code"></b-input>
                            <div class="col-md-12 d-inline-flex align-items-center justify-content-center mt-2">
                                <!--                            <b-icon-check-circle style="width: 42px; height: 42px; margin-bottom: 0px" variant="success"></b-icon-check-circle>-->
                                <b-button
                                        :disabled="!auth_code"
                                        class="display-block"
                                        @click="setTokenAuthCode"
                                        type="button"
                                        variant="primary">
                                    Gửi mã
                                </b-button>
                            </div>
                            <template v-if="auth_code === ''">
                                <b-spinner variant="primary" label="Spinning" class="mt-2"></b-spinner>
                            </template>
                        </div>
                    </transition>
                </div>
                <div v-else>
                    <span style="color: orangered" class="text-normal text-semi-bold">
                        Thông báo admin để cập nhập đơn hàng từ Google sheet
                    </span>
                </div>
            </b-modal>
            <b-modal id="assign-order" title="CHUYỂN ĐƠN" @ok="assignOrdersToOther">
                <b-form-select
                        :options="formatedUsers"
                        v-model="assignOrder.user_id"
                >
                </b-form-select>
            </b-modal>
            <b-modal id="create-orders-ghn" title="XUẤT KHO" @ok="createOrderByBatch">
                <span class="text-normal text-semi-bold">
                    Xác nhận xuất kho <b style="color: red">{{currentSelected}}</b> đơn được chọn?
                </span>
            </b-modal>
        </div>
    </transition>
</template>

<script>
  import Vue from 'vue'
  import agGrid from './ag-grid'
  import VuePapaParse from 'vue-papa-parse'
  import XLSX from 'xlsx'
  import {mapState} from 'vuex'
  import DatePicker from 'vue-md-date-picker'
  import {httpService} from "@/services/httpService";
  import {ROLE_NAME} from "@/constants";
  import {DISTRICTS} from "@/assets/ghn-hardcode/districts";

  var gridOptions;

  export default {
    name: "ManageOrder",
    data() {
      const back10Days = () => {
        const d = new Date()
        d.setDate(d.getDate() - 10)
        d.setHours(0)
        d.setMinutes(0)
        d.setSeconds(0)
        return d
      }
      const endDay = () => {
        const tillEnd = new Date()
        tillEnd.setHours(23)
        tillEnd.setMinutes(59)
        tillEnd.setSeconds(59)
        return tillEnd
      }
      return {
        // constant
        lang: navigator.language,
        SEARCH_STATE: {
          HIDDEN_COLUMNS: 'hideColumns',
          GRID_FILTER: 'gridApi',
          SEARCH_FILTER: 'searchFilter',
          LAST_DATE: 'lastDate'
        },
        const_easyRed: '#c54a4a',
        const_easyYellow: '#eaea46',
        formatedProducts: [],
        formatedUsers: [],

        //variable
        previousHiddenFields: [],
        hiddenFields: [],
        onInit: true,
        onSearching: false,
        onRequestAccess: false,
        auth_url: '',
        auth_code: '',
        originTask: [],
        task: [],
        csvData: [],
        columnDefs: null,
        rowData: null,
        gridOptions: {},
        is_fit_column: false,
        currentSelected: 0,
        currentFiltered: 0,
        assignOrder: {
          user_id: -1,
        },
        myCustomTooltip: () => {
        },
        filterData: {
          invisible: false,
          from: {
            default: this.parseToDateTimeString(back10Days()),
            show: false,
            value: '',
            type: 'date'
          },
          to: {
            show: false,
            default: this.parseToDateTimeString(endDay()),
            value: '',
            type: 'date'
          },
          product_id: {
            show: false,
            default: ['Chọn sản phẩm'],
            value: [],
            typing: '',
            timeout: null
          },
          status: {
            show: false,
            default: 'Chọn trạng thái',
            value: ''
          },
          multi_status: {
            show: false,
            default: ['Chọn trạng thái'],
            value: [''],
            type: 'multi'
          },
          user_id: {
            show: false,
            default: '',
            value: '',
            typing: ''
          },
          phone_customer: {
            show: false,
            default: '',
            value: ''
          },
          source: {
            show: false,
            default: '',
            value: ''
          },
          landing_page: {
            show: false,
            default: '',
            value: ''
          },
          shipping_code: {
            show: false,
            default: '',
            value: '',
            filter_empty: false
          }
        }
      }
    },
    computed: {
      ...mapState({
        products: state => state.products,
        fulfillStatus: state => state.hardCodeData.fulfillStatus,
        systemStatus: state => state.hardCodeData.systemStatus,
        callStatus: state => state.hardCodeData.callStatus,
        role: state => state.hardCodeData.roles,
        users: state => state.users,
        user: state => state.user
      }),
      isAdmin() {
        return this.user.role.toLowerCase() === ROLE_NAME.ADMIN.toLowerCase()
      },
      isMarketing() {
        return this.user.role.toLowerCase() === ROLE_NAME.MARKETING.toLowerCase()
      },
      allowUseTools() {
        return this.isAdmin || [ROLE_NAME.WAREHOUSE.toLowerCase()].includes(this.user.role.toLowerCase())
      },
      orderStatuses() {
        return [...this.filterData.multi_status.default, { value: 'CREATED', text: 'Chưa tác động' }, ...this.callStatus, ...this.fulfillStatus]
      },
      defaultColDef() {
        return [
          {headerName: '', field: 'select', headerCheckboxSelection: true, headerCheckboxSelectionFilteredOnly: true},
          {headerName: 'Sản phẩm', field: 'product_name', no_auth: true},
          {headerName: 'Ngày', field: 'placed_at', no_auth: true},
          {headerName: 'Họ tên', field: 'customer_name', no_auth: true},
          {headerName: 'Số điện thoại', field: 'phone_number', no_auth: true},
          {headerName: 'Địa chỉ KH điền', field: 'input_address'},
          {headerName: 'Địa chỉ', field: 'shipping_address'},
          // {headerName: 'Đường/Phố, Phường/Xã, Quận/Huyện, Tỉnh/Thành *', field: 'add_province'},
          {headerName: 'Ghi chú SHIP', field: 'ship_note'},
          {headerName: 'Ghi chú TELE', field: 'tele_note', hidden: !this.isAdmin},
          {headerName: 'Tình trạng', field: 'status', no_auth: true},
          {headerName: 'Tele', field: 'user_id', hidden: !this.isAdmin && !this.isMarketing},
          {headerName: 'SL', field: 'quantity'},
          {headerName: 'Giá', field: 'total'},
          {headerName: 'Mã vận đơn', field: 'shipping_code'},
          {headerName: 'Phí Ship', field: 'shipping_fee', hidden: !this.isAdmin},
          // {headerName: 'Trạng thái ship GHN, GHTK', field: 'shipping_status'},
          {headerName: 'DV GH', field: 'shipping_company'},
          {headerName: 'Ngày tác động cuối cùng', field: 'updated_at', hidden: !this.isAdmin},
          {headerName: 'Landing page', field: 'landing_page', hidden: !this.isAdmin},
          {headerName: 'Nguồn', field: 'source', hidden: !this.isAdmin}
        ];
      },
      hideColumnOptions() {
        return [{headerName: 'Chọn tất cả', field: 'all'}, ...this.defaultColDef.filter(c => c.field !== 'select')]
      }
    },
    beforeDestroy() {
      this.saveCookie()
    },
    async created() {
      Vue.use(agGrid)
      Vue.use(VuePapaParse)
    },
    async mounted() {
      await this.fetchUsersAndProducts()
      this.initVariable()
      this.onInit = false
      this.validateAccessTokenSheet()

      const lastDate = localStorage.getItem(this.SEARCH_STATE.LAST_DATE)
      if (lastDate && Number(lastDate) === new Date().getDate()) {
        try {
          const val = localStorage.getItem(this.SEARCH_STATE.SEARCH_FILTER)
          if (val) {
            const oldFilter = JSON.parse(val)
            this.filterData = Object.assign(this.filterData, oldFilter)
          }
        } catch (e) {
          // alert('')
        }
      } else {
        this.filterData.from.value = this.filterData.from.default
        this.filterData.to.value = this.filterData.to.default
      }
      this.$nextTick(async () => {
        await this.buildGrid()
        this.filterAsPreviousSession()
      })
    },
    methods: {
      // filterEmptyShipCode(evt) {
      //   this.filterData.shipping_code.value = ''
      //   if (evt) {
      //     this.originTask = this.task.concat([])
      //     this.task = this.task.filter(c => !c.shipping_code || c.shipping_code === '')
      //   } else {
      //     this.task = this.originTask
      //   }
      // },
      parseToDateTimeString(d) {
        return d.toLocaleDateString('en-US')
      },
      solveEventProduct(item) {
        this.stopDelayFocusout('product_id')
        const el = document.getElementById('product-search')
        if (el) {
          el.focus();
        }
        item.checked = !item.checked
      },
      stopDelayFocusout(key) {
        if (this.filterData[key].timeout != null) {
          clearTimeout(this.filterData[key].timeout)
          this.filterData[key].timeout = null
        }
      },
      delayToCatchEvent(key) {
        this.$nextTick(() => {
          this.filterData[key].timeout = setTimeout(() => {
            this.filterData[key].show = false
            const currentChecked = this.formatedProducts.filter(c => c.checked)
            switch (currentChecked.length) {
              case 0:
                this.filterData.product_id.typing = ''
                break
              case 1:
                this.filterData.product_id.typing = this.formatedProducts.find(c => c.checked).text
                break
              default:
                this.filterData.product_id.typing = `${currentChecked.length} sản phẩm`
                break
            }
            this.filterData.product_id.value = currentChecked.map(c => c.value)
          }, 500)
        })
      },
      selectTyping(key, item) {
        if (!item) return
        this.filterData[key].value = item.value
        this.filterData[key].typing = item.text
        this.filterData[key].show = false
      },
      filterOptions(key, list) {
        if (!this.filterData[key].typing) return list
        return list.filter(c => c.text.toLowerCase().match(this.filterData[key].typing.toLowerCase()))
      },
      changeHideColumn(evt) {
        if (evt.includes('all')) {
          const allIgnoreAll = this.hideColumnOptions.filter(c => c.field !== 'all')
          this.hiddenFields = this.previousHiddenFields.length === allIgnoreAll.length ? [] : allIgnoreAll.map(c => c.field)
        }
        this.previousHiddenFields = this.hiddenFields
      },
      setDisplayRowCount() {
        if (gridOptions && gridOptions.api) {
          this.currentFiltered = gridOptions.api.getDisplayedRowCount()
          return
        }

        this.currentFiltered = 0
      },
      async assignOrdersToOther() {
        if (this.assignOrder.user_id > 0) {
          const order_ids = gridOptions.api.getSelectedRows().map(c => c.id)
          const res = await httpService.goRequest('/reassign-orders', 'PUT', {
            Ids: order_ids,
            UserId: this.assignOrder.user_id
          })

          if (res.success) {
            this.$bvToast.toast('Đã bàn giao đơn. Chờ tải lại trang.', {
              title: 'Thành công!',
              variant: 'success'
            })

            this.rebindData()
          } else {
            this.$bvToast.toast('Không thành công!', {
              title: 'Lỗi!',
              variant: 'danger'
            })
          }
        } else {
          this.$bvToast.toast('Chưa chọn telesales để bàn giao lại đơn.', {
            title: 'Lỗi!',
            variant: 'danger'
          })
        }
      },
      setCurrentSelected() {
        if (gridOptions && gridOptions.api) {
          this.currentSelected = gridOptions.api.getSelectedRows().length
          return
        }
        this.currentSelected = 0
      },
      initVariable() {
        if (!this.products) return
        this.formatedProducts = this.products.map(c => {
          return {
            text: c.name,
            value: c.id,
            checked: false,
          }
        })
        this.formatedUsers = this.users.filter(c => c.role.toLowerCase() === ROLE_NAME.TELESALES.toLowerCase()).map(c => {
          return {
            text: c.full_name,
            value: c.id
          }
        })
      },
      async validateAccessTokenSheet() {
        const res = await httpService.goRequest('/get-auth-url')
        if (res.success && res.result) {
          if (res.result.auth_url.trim()) {
            this.$bvModal.show('auth-code')
            this.auth_url = res.result.auth_url
          }
        }
      },
      async requestAuthCode() {
        this.onRequestAccess = true
        window.open(this.auth_url, '_blank')
      },
      async setTokenAuthCode() {
        const res = await httpService.goRequest('/set-auth-code', 'POST', {auth_code: this.auth_code})
        if (res.error || !res.success) {
          this.$bvToast.toast('Không thể cập nhập mã truy cập SheetAPI', {
            title: 'Lỗi!',
            variant: 'danger'
          })
        } else {
          this.$bvToast.toast('Đã tạo được mã truy cập. Hết hạn sau 30 ngày!', {
            title: 'Thành công!',
            variant: 'success'
          })
        }
        this.$bvModal.hide('auth-code')
      },
      showModalAssign() {
        if (this.currentSelected === 0) {
          this.$bvToast.toast('Không có đơn được chọn để thực hiện lệnh.', {
            title: 'Lỗi!',
            variant: 'danger'
          })
          return
        }
        this.$bvModal.show('assign-order')
      },
      async rebindData() {
        this.onSearching = true
        await this.fetchOrder()
        this.formatDataResponse()
        gridOptions.api.setRowData(this.rowData)
        this.setDisplayRowCount()
        this.setCurrentSelected()
        this.onSearching = false
      },
      async buildGrid() {
        await this.fetchOrder()
        this.formatDataResponse()
        this.initGridDefinition()
        this.initCustomTooltip()
        this.initCellStyle()
        this.$nextTick(() => {
          gridOptions = {
            columnDefs: this.columnDefs,
            rowData: this.rowData, enableSorting: !0, enableColResize: !0, enableFilter: !0,
            onGridReady: () => {
              const allColumnIds = [];
              gridOptions.columnApi.getAllColumns().forEach(function (column) {
                allColumnIds.push(column.colId);
              });

              gridOptions.columnApi.autoSizeColumns(allColumnIds, true);
              gridOptions.columnApi.suppressColumnVirtualisation = true
            },
            sortingOrder: ['desc', 'asc', null],
            rowSelection: 'multiple',
            onRowSelected: this.setCurrentSelected,
            onFilterChanged: this.setDisplayRowCount,
            icons: {
              sortAscending: '<i class="mdi mdi-sort-ascending"></i>',
              sortDescending: '<i class="mdi mdi-sort-descending"></i>',
              menu: '<i class="mdi mdi-filter cursor-pointer"></i>',
              filter: '<i class="mdi mdi-filter" style="color:orangered">'
            },
            rowHeight: 36,
            customTooltip: this.myCustomTooltip,
            animateRows: true
          };
          const eGridDiv = document.querySelector('#divData');
          eGridDiv.style.height = window.innerHeight - 300 + 'px'
          new agGrid.Grid(eGridDiv, gridOptions);

          gridOptions.api.setHeaderHeight(48)
          this.resetFilter(true)
          this.setPreviousHiddenColumns()
          this.setDisplayRowCount()
        })
      },
      fitColumn() {
        if (!this.is_fit_column) { // click on div is before change value of checkbox
          gridOptions.api.sizeColumnsToFit()
        } else {
          const arrIds = []
          gridOptions.columnApi.getAllColumns().forEach(function (column) {
            arrIds.push(column.colId);
          });

          gridOptions.columnApi.autoSizeColumns(arrIds, true);
        }
      },
      getDropdownMultiText(key, list) {
        const length = this.filterData[key].value.length
        switch (length) {
          case 0:
            this.filterData[key].show = false
            return this.filterData[key].default[0]
          case 1:
            // eslint-disable-next-line no-case-declarations
            const item = list.find(c => c.value === this.filterData[key].value[0])
            if (item) {
              this.filterData[key].show = item.value !== ''
              return item.text
            }
            return this.filterData[key].default[0]
          default:
            return this.filterData[key].value.length + ' options selected'
        }
      },
      formatDate(val) {
        return this.parseToDateTimeString(new Date(val))
      },
      parseToDateTime(value, solveWithOffset = true) {
        if (!value) return ''
        const localOffset = (new Date().getTimezoneOffset()) * 60 * 1000
        const d = new Date(value * 1000 + (solveWithOffset ? localOffset : 0))
        return d.toLocaleString()
      },
      filterAsPreviousSession() {
        //01. sort and filter text in column
        const cookieValue = localStorage.getItem(this.SEARCH_STATE.GRID_FILTER)
        if (!cookieValue)
          return;

        let preInfo = cookieValue.split(',');
        let cols = gridOptions.api.columnController.getAllGridColumns();
        const size = cols.length;
        for (let i = 0; i < size; i++) {
          let index = preInfo.indexOf(cols[i].colId);
          if (index === -1 || (index % 4) > 0) {
            continue;
          }

          const colId = preInfo[index];
          const textFilter = preInfo[index + 1];
          const filterType = preInfo[index + 2];
          const sortType = preInfo[index + 3];

          if (textFilter !== '') {
            const filterInstance = gridOptions.api.getFilterInstance(colId)
            filterInstance.setModel({type: filterType, filter: textFilter});
            gridOptions.api.onFilterChanged();
          }

          if (sortType !== '') {
            const sort = [
              {colId: colId, sort: sortType}
            ];
            gridOptions.api.setSortModel(sort);
          }
        }
      },
      setPreviousHiddenColumns() {
        const hiddenData = localStorage.getItem(this.SEARCH_STATE.HIDDEN_COLUMNS)
        if (!hiddenData || hiddenData.split(',') <= 1) return;
        this.hiddenFields = hiddenData.split(',')
        this.previousHiddenFields = this.hiddenFields
      },
      async fetchUsersAndProducts() {
        if (this.user.role.toLowerCase() === ROLE_NAME.TELESALES.toLowerCase()) {
          if (!this.products || !this.products.length) {
            await this.$store.dispatch('fetchProducts')
          }
          return
        }

        if ((!this.users || !this.users.length) && (!this.products || !this.products.length)) {
          await Promise.all([this.$store.dispatch('fetchUsers'), this.$store.dispatch('fetchProducts')])
          return
        }

        if (!this.users || !this.users.length) {
          await this.$store.dispatch('fetchUsers')
        }

        if (!this.products || !this.products.length) {
          await this.$store.dispatch('fetchProducts')
        }
      },
      initGridDefinition() {
        this.columnDefs = this.defaultColDef
        if (this.isMarketing) {
          this.columnDefs = this.columnDefs.filter(c => c.no_auth)
        }
        // custom column definition
        for (let colDef of this.columnDefs) {
          colDef = Object.assign(colDef, { // add common definition
            headerTooltip: colDef.headerName,
            tooltipComponent: 'customTooltip'
          })
          let targetDefinition = {}
          switch (colDef.field) { // add specific definition
            case 'status':
              targetDefinition = {
                valueGetter: params => this.formatFromList(params.data[colDef.field], this.orderStatuses)
              }
              break
            case 'select':
              targetDefinition = {
                checkboxSelection: true,
                pinned: 'left'
              }
              break
            case 'product_name':
              targetDefinition = {
                pinned: 'left',
                onCellClicked: !this.isMarketing ? this.onClickProductName : ()=>{},
                // width: 800
              }
              break
            case 'phone_number':
              targetDefinition = {
                onCellClicked: this.onClickCopyValue,
                // width: 600
              }
              break
            case 'placed_at':
              targetDefinition = {
                valueGetter: params => this.parseToDateTime(params.data[colDef.field]),
                // width: 600
              }
              break
            case 'updated_at':
              targetDefinition = {
                valueGetter: params => this.parseToDateTime(params.data[colDef.field], false),
                // width: 600
              }
              break
            case 'shipping_status':
              targetDefinition = {
                valueGetter: params => this.formatFromList(params.data[colDef.field], [...this.fulfillStatus, ...this.systemStatus])
              }
              break
            case 'user_id':
              targetDefinition = {
                valueGetter: params => this.formatFromList(params.data[colDef.field], this.users, {
                  key: 'id',
                  value: 'full_name'
                })
              }
              break
            case 'add_province':
              targetDefinition = {
                valueGetter: params => this.formatGetProvince(params.data[colDef.field])
              }
              break
            case 'shipping_company':
              targetDefinition = {
                valueGetter: params => {
                  return params.data[colDef.field] === 'local' ? 'Nội thành HN' : params.data[colDef.field] === 'ghn' ? 'GHN' : ''
                }
              }
              break
            case 'shipping_fee':
              targetDefinition = {
                valueGetter: params => {
                  return params.data[colDef.field] ? params.data[colDef.field].toLocaleString() : ''
                }
              }
              break
            case 'shipping_code':
              targetDefinition = {
                onCellClicked: this.onClickCopyValue,
                // width: 600
                filterParams: {
                  filterOptions: [
                    'equals',//BaseFilter.EQUALS = 'equals';
                    'notEqual',//BaseFilter.NOT_EQUAL = 'notEqual';
                    'startsWith',//BaseFilter.STARTS_WITH = 'startsWith'; //4;
                    'endsWith',//BaseFilter.ENDS_WITH = 'endsWith'; //5;
                    'contains',//BaseFilter.CONTAINS = 'contains'; //1;
                    'notContains',//BaseFilter.NOT_CONTAINS = 'notContains'; //1;
                    'empty'
                  ]
                }
              }
              break
            default:
              break
          }
          colDef = Object.assign(colDef, targetDefinition)
        }
        // const mapProd = {}
        // for (const prod of this.products) {
        //   mapProd[prod.id] = prod
        // }
      },
      formatDataResponse() {
        const samePhoneAndProduct = this.const_easyRed
        const samePhoneDiffProduct = this.const_easyYellow
        const mapData = {}
        for (const item of this.task) {
          if (!mapData[item.phone_number]) {
            mapData[item.phone_number] = {
              product_name: item.product_name,
              color: ''
            }
          } else {
            mapData[item.phone_number].color = mapData[item.phone_number].product_name === item.product_name ? samePhoneAndProduct : samePhoneDiffProduct
          }

          if (item.line_items && item.line_items.length) {
            let totalPrice = 0
            for (const l of item.line_items) {
              totalPrice += l.price
            }
            item.total = totalPrice.toLocaleString()
          }
        }

        this.rowData = []
        for (const item of this.task) {
          item.color = mapData[item.phone_number] ? mapData[item.phone_number].color : ''
          this.rowData.push(
            Object.assign(item)
          )
        }
      },
      onClickCopyValue(params) {
        if (!params.value) return;
        const el = document.createElement('textarea');
        el.value = params.value;
        el.setAttribute('readonly', '');
        el.style.position = 'absolute';
        el.style.left = '-9999px';
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);

        this.customToast(params.value)
      },
      saveCookie() {
        let cookieValue = [];
        if (!gridOptions || !gridOptions.api) return
        let sortCols = gridOptions.api.getSortModel();
        let cols = gridOptions.api.columnController.getAllGridColumns();
        let size = cols.length;
        for (let i = 0; i < size; i++) {
          let colName = cols[i].colId;
          let hasFilter = cols[i].isFilterActive();
          let textFilter = hasFilter ? gridOptions.api.getFilterInstance(colName).eFilterTextField.value : '';
          let filterType = hasFilter ? gridOptions.api.filterManager.allFilters[colName].filterPromise.resolution.filter : '';

          let hasSort = false;
          let sortType = '';
          for (let j = 0; j < sortCols.length; j++) {//Col sort
            if (sortCols[j].colId === colName) {
              sortType = sortCols[j].sort;
              hasSort = true;
              break;
            }
          }

          if (hasSort || hasFilter) {
            let thisColArr = [];//tat ca column deu co trong cookie - colInfo
            thisColArr = [colName, textFilter, filterType, sortType];
            cookieValue.push(thisColArr);
          }
        }
        let expires = new Date();
        expires.setHours(23, 59, 59, 0);

        localStorage.setItem(this.SEARCH_STATE.GRID_FILTER, cookieValue.toString())
        localStorage.setItem(this.SEARCH_STATE.HIDDEN_COLUMNS, this.hiddenFields.toString())
        localStorage.setItem(this.SEARCH_STATE.SEARCH_FILTER, JSON.stringify(this.filterData))
        localStorage.setItem(this.SEARCH_STATE.LAST_DATE, (new Date()).getDate().toString())
      },
      customToast(value) {
        const h = this.$createElement
        // Increment the toast count
        this.count++
        // Create the message
        const vNodesMsg = h(
          'span',
          {class: ['text-center', 'mb-0']},
          [
            `Auto hide soon`
          ]
        )
        // Create the title
        const vNodesTitle = h(
          'div',
          {class: ['d-flex', 'flex-grow-1', 'align-items-baseline', 'mr-2']},
          [
            h('strong', {class: 'mr-2'}, 'Copied'),
            h('span', {class: 'ml-auto text-italics'}, `${value}`)
          ]
        )
        // Pass the VNodes as an array for message and title
        this.$bvToast.toast([vNodesMsg], {
          title: [vNodesTitle],
          solid: true,
          variant: 'info'
        })
      },
      onClickProductName(params) {
        if (typeof params !== 'undefined') {
          this.$router.push({
            name: 'task-detail',
            params: {
              id: params.data.id
            }
          })
        }
      },
      initCellStyle() {
        for (const col of this.columnDefs) {
          const defaultStyle = {paddingTop: '12px', borderRight: '1px dashed #c9c9c9 !important'}
          col['cellStyle'] = (params) => {
            let extendStyle = {}
            switch (col.field) {
              case 'product_name':
                if (!this.isMarketing) {
                  extendStyle = Object.assign({
                    color: '#004eff',
                    textDecoration: 'underline',
                    cursor: 'pointer'
                  }, extendStyle)
                }
                break
              case 'phone_number':
                if (params.data && params.data.color) {
                  extendStyle = {backgroundColor: params.data.color, opacity: 0.85}
                }
                break
            }
            return Object.assign({}, defaultStyle, extendStyle)
          }
        }
      },
      filterDropdown(item, key) {
        Object.assign(this.filterData[key], item)
        this.filterData[key].show = true
      },
      resetFilter(mounted = false) {
        gridOptions.api.setFilterModel(null)
        gridOptions.api.setSortModel(null)
        gridOptions.api.deselectAll()
        if (this.formatedProducts) {
          this.formatedProducts.forEach(c => c.checked = false)
        }
        if (!mounted) {
          for (const key in this.filterData) {
            if (typeof this.filterData[key] !== 'object') continue
            if (typeof this.filterData[key].default !== 'undefined') {
              this.filterData[key].value = this.filterData[key].default
            }
            this.filterData[key].show = false
            this.filterData[key].typing = ''
          }
          this.$nextTick(() => {
            this.rebindData()
          })
        }
      },
      initCustomTooltip() {
        function CustomTooltip() {
        }

        CustomTooltip.prototype.init = function (params) {
          var eGui = this.eGui = document.createElement('div'),
            isHeader = params.rowIndex === undefined,
            isGroupedHeader = isHeader && !!params.colDef.children,
            str, valueToDisplay;

          eGui.classList.add('custom-tooltip');

          if (isHeader) {
            str = '<p>Group Name: ' + params.value + '</p>';
            if (isGroupedHeader) {
              str += '<hr>';
              params.colDef.children.forEach(function (header, idx) {
                str += '<p>Child ' + (idx + 1) + ' - ' + header.headerName + '</p>';
              });
            }
            eGui.innerHTML = str;
          } else {
            valueToDisplay = params.value.value ? params.value.value : '- Missing -';

            eGui.innerHTML =
              '<p>Athletes name:</p>' +
              '<p><span class"name">' + valueToDisplay + '</span></p>';
          }
        };

        CustomTooltip.prototype.getGui = function () {
          return this.eGui;
        };
        this.myCustomTooltip = CustomTooltip
      },
      confirmCreateOrdersGHN() {
        const order_ids = gridOptions.api.getSelectedRows().map(c => c.id)
        if (!order_ids || !order_ids.length) {
          this.$bvToast.toast('Không có đơn được chọn để thực hiện lệnh.', {
            title: 'Lỗi!',
            variant: 'danger'
          })
          return
        }
        this.$bvModal.show('create-orders-ghn')
      },
      async createOrderByBatch() {
        const order_ids = gridOptions.api.getSelectedRows().map(c => c.id)
        if (order_ids.length > 0) {
          const res = await httpService.goRequest('/ghn-create-order', 'POST', {order_ids})
          if (res.error) {
            this.$bvToast.toast(`Xuất kho không thành công. Lỗi: ${res.error.toString()}`, {
              title: 'Lỗi!',
              variant: 'danger'
            })
            return
          }
          this.$bvToast.toast('Đã xuất kho, vui lòng kiểm tra lại thông tin bên Giao/Nhận hàng', {
            title: `${res.result}/${order_ids.length} đơn được chọn`,
            variant: 'success'
          })
          await this.fetchOrder()
        }
      },
      async fetchOrder() {
        const filterParams = this.getFilterParams()
        const res = await httpService.goRequest(httpService.buildQueryPathByParams('/orders', filterParams))
        if (res.error) {
          this.$bvToast.toast('Có lỗi xảy ra! Không thể lấy dữ liệu!')
          return
        }
        const formatOrder = []
        if (res.result && res.result.length) {
          this.$store.commit('pushOrderVuex', res.result)
          for (const od of res.result) {
            if (!od.line_items || !od.line_items.length) {
              continue
            }
            // if (this.user.role.toLowerCase() === ROLE_NAME.TELESALES.toLowerCase() && od.status === 'BUYER_CONFIRMED') continue
            formatOrder.push(Object.assign({
              product_name: od.line_items[0].product_name,
              quantity: od.line_items[0].quantity
            }, od))
          }
        }
        // eslint-disable-next-line no-unused-vars
        this.task = formatOrder.sort((a, _) => {
          if (a.status === 'CREATED') {
            return -1
          }
          return 0
        })
        // this.originTask = this.task.concat([])
      },
      getFilterParams() {
        const params = {}
        for (const key in this.filterData) {
          const item = this.filterData[key]
          let value = item.value

          if (item.type === 'date') {
            switch (key) {
              case 'from':
                value = Math.round(this.getTimeZero(value || item.default))
                break
              case 'to':
                value = Math.round(this.getTimeEnd(value || item.default))
                break
            }
          } else {
            if (typeof item !== 'object' || !item.value || item.value === item.default) continue
            if (Array.isArray(value)) {
              if (!value.length || !value[0] || value[0] === item.default[0]) continue
            }
          }

          Object.assign(params, {
            [key]: value
          })
        }
        return params
      },
      getTimeZero(d) {
        const newD = new Date(d)
        newD.setHours(0)
        newD.setMinutes(0)
        newD.setSeconds(0)
        newD.setMilliseconds(0)
        return this.toUTCTimeStamp(newD)
      },
      getTimeEnd(d) {
        const newD = new Date(d)
        newD.setHours(23)
        newD.setMinutes(59)
        newD.setSeconds(59)
        newD.setMilliseconds(59)
        return this.toUTCTimeStamp(newD)
      },
      toUTCTimeStamp(d) {
        const localOffset = (new Date().getTimezoneOffset()) * 60 * 1000
        return (d.getTime() - localOffset) / 1000
      },
      async goSelectFileUpload(event) {
        if (event.target.files && event.target.files.length) {
          const file = event.target.files[0]
          if (typeof file !== 'undefined' && file !== null) {
            this.verifyCsvFile(file)
          }
        } else {
          // this.$toast
        }
      },
      verifyCsvFile(input) {
        // get extension file
        const extFile = this.getExtFile(input.name)
        // papa parse csv file
        if (['csv'].includes(extFile)) {
          this.csvData = []
          this.$papa.parse(input, {
            keepEmptyRows: false,
            skipEmptyLines: true,
            complete: this.parseComplete
          })
        } else {
          this.$bvToast.toast('The selected file seem to be not a CSV document', {
            title: 'Wrong format file!',
            variant: 'danger'
          })
        }
      },
      getExtFile(fileName) {
        return fileName.split('.').pop()
      },
      async parseComplete(results) {
        if (results.errors.length > 0) {
          this.$bvToast.toast('The selected file does not seem to be an CSV document', {
            title: 'Wrong data!',
            variant: 'danger'
          })
          return
        }
        const orders = []
        const now = Math.round(new Date().getTime() / 1000)
        for (const index in results.data) {
          const row = results.data[index]
          if (row.length > 5) {
            orders.push({
              product_name: row[0],
              order: {
                placed_at: now,
                customer_name: row[1],
                phone_number: row[2],
                input_address: row[3],
                landing_page: row[4],
                customer_ip: row[5]
              }
            })
          }
        }
        if (orders.length > 0) {
          const res = await httpService.goRequest('/import-orders', 'POST', orders)
          if (res.error) {
            this.$bvToast.toast('Import đơn không thành công', {
              title: 'Lỗi!',
              variant: 'danger'
            })
          } else {
            this.$bvToast.toast(res.list_failed_index && res.list_failed_index.length ?
              'Import đơn không đủ: ' + res.list_failed_index :
              'Toàn bộ dữ liệu đã được import', {
              title: 'Đã import!',
              variant: 'success'
            })
          }
        } else {
          this.$bvToast.toast('Dữ liệu không hợp lệ, không thể import!', {
            title: 'Lỗi!',
            variant: 'danger'
          })
        }
      },
      async exportFile() {
        const excelData = this.formatToExport()
        const ws = XLSX.utils.json_to_sheet(excelData);
        const wb = XLSX.utils.book_new()
        XLSX.utils.book_append_sheet(wb, ws, "ExportOrders");
        XLSX.writeFile(wb, `orders-${new Date().toLocaleDateString()}.xlsx`)
      },
      formatFromList(val, list, props = null) {
        if (val === 'CREATED') {
          return 'Chưa tác động'
        }
        const item = list.find(c => (props ? c[props.key] : c.value) === val)
        if (item) {
          return props ? item[props.value] : item.text
        }
        return val
      },
      formatToExport() {

        const field2Format = [
          {new: 'TEN_SAN_PHAM', old: 'product_name'},
          {
            new: 'NGAY_DAT_HANG', old: 'placed_at', formatValue: (val) => {
              return this.parseToDateTime(val)
            }
          },
          {new: 'TEN_KHACH_HANG', old: 'customer_name'},
          {new: 'SDT', old: 'phone_number'},
          {new: 'DIA_CHI_KH_NHAP', old: 'input_address'},
          {new: 'DIA_CHI_SHIP', old: 'shipping_address'},
          {new: 'GHI_CHU_SHIP', old: 'shipping_note'},
          {new: 'GHI_CHU_TELESALE', old: 'tele_note'},
          {
            new: 'TINH_TRANG', old: 'status', formatValue: (val) => {
              return this.formatFromList(val, [...this.callStatus, ...this.systemStatus, ...this.fulfillStatus])
            }
          },
          {
            new: 'TELE',
            old: 'user_id',
            formatValue: val => this.formatFromList(val, this.users, {key: 'id', value: 'full_name'})
          },
          {new: 'SO_LUONG', old: 'quantity'},
          {new: 'GIA', old: 'line_items', formatValue: val => this.formatLinesGetTotalPrice(val)},
          {new: 'MA_VAN_DON', old: 'shipping_code'},
          {new: 'PHI_SHIP', old: 'shipping_fee'},
          // { new: 'DANH_SACH_SAN_PHAM', old: 'line_items', formatValue: (val) => { return JSON.stringify(val) }},
          // {
          //   new: 'TRANG_THAI_SHIP', old: 'shipping_status', formatValue: (val) => {
          //     return this.formatFromList(val, [...this.systemStatus, ...this.fulfillStatus])
          //   }
          // },
          {
            new: 'DICH_VU_GH', old: 'shipping_company', formatValue: (val) => {
              return this.formatFromList(val, [{value: 'local', text: 'Nội thành HN'}, {value: 'ghn', text: 'GHN'}])
            }
          },
          {
            new: 'NGAY_TAC_DONG_CUOI_CUNG', old: 'updated_at', formatValue: (val) => {
              return this.parseToDateTime(val, false)
            }
          },
          // delete field in excel
          {old: 'id', is_delete: true},
          {old: 'first_user_id', is_delete: true},
          {old: 'logs', is_delete: true},
          {old: 'product_id', is_delete: true},
          {old: 'ghn_request', is_delete: true},
          {old: 'color', is_delete: true},
          {old: 'source', is_delete: true},
          {old: 'customer_ip', is_delete: true},
          {old: 'created_at', is_delete: true},
          {old: 'landing_page', is_delete: true}
        ]
        const orderSelectedIds = {}
        gridOptions.api.getSelectedRows().forEach(c => {
          orderSelectedIds[c.id] = true
        })
        const arr = []
        let clone
        for (const item of this.task) {
          if (!orderSelectedIds[item.id]) continue
          clone = Object.assign({}, item)
          for (const info of field2Format) {
            if (!info.is_delete) {
              clone[info.new] = clone[info.old]
              if (typeof info.formatValue === 'function') {
                clone[info.new] = info.formatValue(clone[info.new])
              }
            }
            delete clone[info.old]
          }
          arr.push(clone)
        }
        return arr
      },
      formatGetProvince(val) {
        for (const item of DISTRICTS.data) {
          if (val === item.DistrictID) {
            return item.DistrictName + ', ' + item.ProvinceName
          }
        }
        return val
      },
      formatLinesGetTotalPrice(val) {
        let total = 0
        for (const l of val) {
          total += !Number.isNaN(Number(l.price)) ? Number(l.price) : 0
        }
        return total
      }
    },
    components: {
      DatePicker
    },
    watch: {
      hiddenFields(val) {
        if (gridOptions && gridOptions.api) {
          for (const col of this.defaultColDef) {
            gridOptions.columnApi.setColumnVisible(col.field, !val.includes(col.field))
          }
        }
      }
    }
  }
</script>

<style scoped>
    .custom-tooltip {
        position: absolute;
        width: 150px;
        height: 70px;
        border: 1px solid cornflowerblue;
        overflow: hidden;
        pointer-events: none;
        transition: opacity 1s;
        background-color: white;
    }

    .custom-tooltip.ag-tooltip-hiding {
        opacity: 0;
    }

    .custom-tooltip p {
        margin: 5px;
        white-space: nowrap;
    }

    .custom-tooltip p:first-of-type {
        font-weight: bold;
    }

    .container-search-table {
        border: 1px solid #c9c9c9;
        border-radius: 8px;
    }

    .search-table th {
        padding: 1rem;
        width: 165px;
    }

    .search-table td {
        padding: 1rem;
    }

    .search-table tr:first-child > th, .search-table tr:first-child > td {
        padding-bottom: 0px;
    }

    .label-row {
        font-weight: bold;
        color: orangered;
        margin-left: 8px;
        font-size: 0.875rem;
    }
</style>
