<template>
    <div class="analytics-page m-4">
        <h3 class="m-3">
            BÁO CÁO NHANH
        </h3>
        <b-table hover
                 bordered
                 head-variant="dark"
                 :busy="!sumQuickReport.locked_row"
                 :items="[...quickReportSampleValue, sumQuickReport]" :fields="quickReportFields">
            <template v-slot:table-busy>
                <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong class="ml-3">Loading...</strong>
                </div>
            </template>
            <template v-slot:cell(budget)="data">
                <template v-if="!data.item.locked_row && (isAdmin || isMartketing)">
                    <b-input
                            v-model="data.item.budget"
                            type="number"
                            min="0"
                            @input="markFocusItem(data.item)"
                            class="display-inline-block mr-1"
                    >
                    </b-input>
                    <b-button variant="success" @click="saveManageProduct(data.item)">
                        Lưu
                    </b-button>
                </template>
                <template v-else>
                    {{data.item.incoming_stock}}
                </template>
            </template>
            <template v-slot:cell(incoming_stock)="data">
                <template v-if="!data.item.locked_row && (isAdmin || isRnDProduct)">
                    <b-input
                            v-model="data.item.incoming_stock"
                            type="number"
                            min="0"
                            @input="markFocusItem(data.item)"
                            class="display-inline-block mr-1"
                    >
                    </b-input>
                    <b-button variant="success" @click="saveManageProduct(data.item)">
                        Lưu
                    </b-button>
                </template>
                <template v-else>
                    {{data.item.incoming_stock}}
                </template>
            </template>
        </b-table>
        <h3 class="m-3">
           TỈ LỆ CHỐT 7 NGÀY GẦN NHẤT
        </h3>
        <b-table hover
                 bordered
                 head-variant="dark"
                 :items="telesaleData" :fields="telesaleReportFields"
                 :busy="onFetching">
            <template v-slot:table-busy>
                <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong class="ml-3">Loading...</strong>
                </div>
            </template>
        </b-table>
    </div>
</template>

<script>
  import { mapState } from 'vuex'
  import { ROLE_NAME } from '../../constants'
  import {httpService} from "@/services/httpService";
  export default {
    name: "Analytics",
    data () {
      return {
        onFetching: true,
        timeoutVariable: null,
        quickReportSampleValue: [],
        sumQuickReport: {},
        focusItem: {},
        telesaleReportFields:[

        ],
        telesaleData: [
          { status: 'Đã chốt + Ship tc + Đã ship', field: 'succeed' },
          { status: 'Không mua', field: 'reject' },
          { status: 'Không nghe', field: 'not_picked' },
          { status: 'Trùng + sai số', field: 'ignored' },
          { status: 'Hủy', field: 'canceled' },
          { status: 'Delay + Đang hoàn + hoàn Tc', field: 'returned' },
          { status: 'Tổng', field: 'total' },
        ],
        totalOrder: 0
      }
    },
    beforeDestroy() {
      if (this.timeoutVariable != null) {
        clearTimeout(this.timeoutVariable)
      }
    },
    async mounted() {
      await this.$store.dispatch('fetchUsers')
      this.initTelesaleTable()
      this.$nextTick(async () => {
        await Promise.all([this.fetchAnalytics(), this.fetchTelesaleData()])
        this.onFetching = false
        this.timeoutVariable = setTimeout(this.startTimeout, 10000)
      })

    },
    methods: {
      markFocusItem(item) {
        this.focusItem = Object.assign({}, item)
      },
      async saveManageProduct(item) {
        const budget = Number(item.budget)
        const incoming_stock = Number(item.incoming_stock)
        if (Number.isNaN(budget)) {
          this.$bvToast.toast('Dữ liệu không hợp lệ, thông tin "Ngân sách" phải là số', {
            title: 'Lỗi!',
            variant: 'danger'
          })
          return
        }

        if (Number.isNaN(incoming_stock)) {
          this.$bvToast.toast('Dữ liệu không hợp lệ, thông tin "Số hộp đang về" phải là số', {
            title: 'Lỗi!',
            variant: 'danger'
          })
          return
        }
        const product = this.products.find(c => c.name === item.name)
        if (!product) {
          this.$bvToast.toast('Dữ liệu không hợp lệ.', {
            title: 'Lỗi!',
            variant: 'danger'
          })
          return
        }
        const res = await httpService.goRequest('/manage-stock', 'POST', Object.assign({}, {
          id: product.id,
          budget,
          incoming_stock,
          requesting_stock: Number(item.requesting_stock) > 0 ? Number(item.requesting_stock) : 0
        }))
        if (res.success) {
          this.$bvToast.toast('Cập nhật thông tin thành công', {
            title: 'Thành công!',
            variant: 'success'
          })
        } else {
          this.$bvToast.toast('Cập nhật thông tin không thành công', {
            title: 'Lỗi!',
            variant: 'danger'
          })
        }
      },
      reformatQuickReport() {
        const mapKey = {}
        for (const f of this.quickReportFields) {
          mapKey[f.key] = 0
        }
        for (const val of this.quickReportSampleValue) {
          val.requesting_stock = Math.round(val.count_yesterday * 5 * val.succeed_rate -
            val.inventory_stock - val.incoming_stock)
          for (const key in val) {
            if (typeof val[key] === 'number' && typeof mapKey[key] !== 'undefined') {
              mapKey[key] = mapKey[key] + val[key]
            }
          }
        }
        if (typeof mapKey['succeed_rate'] !== 'undefined') {
          mapKey['succeed_rate'] = (mapKey['succeed_rate'] / (this.quickReportSampleValue.length || 1)).toFixed(2)
        }
        if (typeof mapKey['fail_rate'] !== 'undefined') {
          mapKey['return_rate'] = (mapKey['return_rate'] / (this.quickReportSampleValue.length || 1)).toFixed(2)
        }
        mapKey['name'] = 'Tổng'
        mapKey['locked_row'] = true
        this.sumQuickReport = mapKey
      },
      formatRate(val) {
        return val + '%'
      },
      async startTimeout() {
        await Promise.all([this.fetchAnalytics(), this.fetchTelesaleData()])
        this.timeoutVariable = setTimeout(this.startTimeout, 10000)
      },
      async fetchAnalytics() {
        const yesterday = new Date()
        yesterday.setDate(this.today.getDate() - 1)
        yesterday.setHours(0)
        yesterday.setMinutes(0)
        yesterday.setSeconds(0)
        yesterday.setMilliseconds(0)
        const res = await httpService.goRequest(httpService.buildQueryPathByParams('/analytics/product', {
          today: Math.round(this.today / 1000),
          yesterday: Math.round(yesterday / 1000)
        }))
        if (!res.error && res.result) {
          if (Object.keys(this.focusItem).length > 0) {
            const markItem = res.result.find(c => c.name === this.focusItem.name)
            if (markItem) {
              Object.assign(markItem, {
                incoming_stock: this.focusItem.incoming_stock,
                budget: this.focusItem.budget
              })
            }
          }

          this.quickReportSampleValue = res.result
        }
        this.reformatQuickReport()
      },
      initTelesaleTable() {
        this.telesaleReportFields = [
          {
            key: 'status',
            label: 'Tình trạng'
          },
          ...this.users.filter(c => c.role.toLowerCase() === ROLE_NAME.TELESALES.toLowerCase()).map(item => {
            return {
              key: item['id'].toString(),
              label: item.full_name
            }
          }),
          {
            key: 'summary',
            label: 'Tổng'
          },
          {
            key: 'rate',
            label: 'Tỷ lệ'
          }
        ]
      },
      async fetchTelesaleData() {
        const back7Days = new Date()
        back7Days.setDate(this.today.getDate() - 7)
        back7Days.setHours(0)
        back7Days.setMinutes(0)
        back7Days.setSeconds(0)
        back7Days.setMilliseconds(0)
        const res = await httpService.goRequest(httpService.buildQueryPathByParams('/analytics/telesales', {
          from: Math.round(back7Days / 1000)
        }))
        if (!res.error && res.result) {
          this.totalOrder = 0
          for (const f of this.telesaleReportFields) {
            if (f.key === 'status') continue
            const userId = Number(f.key)
            if (Number.isNaN(userId)) continue
            const data = res.result.find(c => c.id === userId)
            if (!data) continue
            let total = 0
            for (const d of this.telesaleData) {
              if (typeof data[d.field] !== 'undefined') {
                d[userId] = data[d.field] || 0
                total += d[userId] || 0
              }
              if (d.field === 'total') {
                d[userId] = total
                this.totalOrder += total
              }
            }
          }
        }

        this.formatSummaryRateRows()
      },
      formatSummaryRateRows() {
        for (const d of this.telesaleData) {
          let totalEachRow = 0
          for (const key in d) {
            if (Number.isNaN(Number(key))) continue
            totalEachRow += Number(d[key])
          }
          d['summary'] = totalEachRow
          d['rate'] = (!this.totalOrder ? 0 : (totalEachRow * 100 / this.totalOrder).toFixed(2)) + '%'
        }
      }
    },
    computed: {
      ...mapState({
        user: state => state.user,
        users: state => state.users,
        products: state => state.products
      }),
      ROLE () {
        return ROLE_NAME
      },
      isAdmin() {
        return this.user.role === ROLE_NAME.ADMIN.toLowerCase()
      },
      isMartketing() {
        return this.user.role === ROLE_NAME.MARKETING.toLowerCase()
      },
      isRnDProduct() {
        return this.user.role === ROLE_NAME.PRODUCT.toLowerCase()
      },
      quickReportFields() {
        return [
          { key: 'name', label: 'Tên sản phẩm' },
          { key: 'inventory_stock', label: 'Tồn kho' },
          { key: 'wait_ghn', label: 'Chờ ship GHN+GHTK' },
          { key: 'wait_local', label: 'Chờ ship nội thành' },
          { key: 'budget', label: 'Ngân sách hiện tại', tdClass: ['d-inline-flex', 'w-100', 'border-left-0', 'border-right-0', 'border-bottom-0'] },
          { key: 'count_yesterday', label: 'Hôm qua' },
          { key: 'count_today', label: 'Hôm nay' },
          { key: 'no_action', label: 'Chưa chốt', thClass:['danger-col'], tdAttr: { style: 'background-color: lime'} },
          { key: 'no_pick_up', label: 'Gọi lại', thClass:['danger-col'], tdAttr: { style: 'background-color: lime'} },
          { key: 'succeed_rate', label: 'Tỷ lệ chốt', formatter: this.formatRate },
          { key: 'return_rate', label: 'Tỷ lệ hoàn', formatter: this.formatRate },
          { key: 'incoming_stock', label: 'Số hộp đang về', tdClass: ['d-inline-flex', 'w-100', 'border-left-0', 'border-right-0', 'border-bottom-0'] },
          { key: 'requesting_stock', label: 'Cần nhập' }
        ]
      },
      today() {
        const today = new Date()
        today.setHours(23)
        today.setMinutes(59)
        today.setSeconds(59)
        today.setMilliseconds(99)
        return today
      }
    }
  }
</script>

