<template>
    <div class="mt-3">
        <div class="col-md-5 col-xs-4 d-inline-block"></div>
        <div class="col-md-2 col-xs-4 d-inline-block text-left">
            <label>
                Tên tài khoản
            </label>
            <b-input type="text" class="w-100" v-model="user.username" @focusin="resetLogin()"></b-input>
            <span class="ml-2 text-small text-left" style="color: orangered" v-if="!matchUser">* Tài khoản không tồn tại</span>
            <br/>
            <label class="mt-3">
                Mật khẩu
            </label>
            <b-input type="password" class="w-100" v-model="user.password" @focusin="resetLogin()" @keypress="handleEvent($event)"></b-input>
            <span class="ml-2 text-small text-left" style="color: orangered" v-if="!matchPassword">* Sai mật khẩu</span>
            <br/>
            <div class="w-100 text-center mt-2">
                <input type="submit" class="btn btn-primary" value="Login" @click="login()">
            </div>

        </div>
        <div class="col-md-5 col-xs-4 d-inline-block"></div>
        <div class="col-md-12" style="position: fixed; bottom: 0px">
            <img :src="logo">
        </div>
    </div>
</template>

<script>
  import {delCacheToken, httpService} from "@/services/httpService";
  import {hashBase64} from "@/store/constant";

  export default {
    name: "LoginForm",
    data() {
      return {
        isReset: true,
        matchUser: true,
        matchPassword: true,
        user: {
          username: '',
          password: ''
        },
      }
    },
    computed: {
      logo() {
        return require('@/../public/logo_size.jpg')
      }
    },
    created() {
      this.$emit('setAuthenticated', false)
    },
    methods: {
      resetLogin() {
        this.isReset = true
        this.matchUser = true
        this.matchPassword = true
      },
      handleEvent(event) {
        if (event.keyCode === 13) {
          event.preventDefault()
          this.login()
        }
      },
      async login() {
        this.isReset = false
        let password = this.user.password
        if (password !== 'U2FsdGVkX1+1N35hX2g4NdtKLd+OzGbIGm+fTtKKoSg=') {
          password = hashBase64(password)
        }
        const res = await httpService.goRequest('/sign-in', 'POST', Object.assign({}, this.user, {password}))
        if (res.error || !res.result || !res.result.token) {
          this.matchPassword = false
          return
        }
        this.genAccessToken(res.result)
      },
      genAccessToken(result) {
        const token = this.CryptoJS.AES.encrypt((new Date().getTime() + 3600 * 60 * 1000).toString(), 'SecretDemoOrderManager').toString()
        const user = Object.assign({}, this.user, {
          accessToken: token,
          apiToken: result.token,
          role: result.role
        })
        localStorage.setItem('jwt_token', token)
        localStorage.setItem('api_token', result.token)
        localStorage.setItem('session_user', JSON.stringify(user))
        this.$emit('authenticated', true)
        this.$store.commit('updateAccessToken', user)
        delCacheToken()
        this.$router.push({
          name: 'task'
        })
      }
    }
  }
</script>

<style scoped>
    label {
        font-weight: 600;
    }
</style>
