<template>
    <div class="unauthorized-page" :style="'height: ' + getScreenHeight + 'px'">
        <div>403</div>
        <div class="txt">
            Forbidden<span class="blink">_</span>
        </div>
    </div>
</template>

<script>
  export default {
    name: "Unauthorized",
    computed: {
      getScreenHeight() {
        return window.innerHeight - 50
      }
    }
  }
</script>
