<template>
    <div id="app" style="margin: 0 !important;">
        <MenuHeader v-if="authenticated"
                    @logout="toLogin"/>
        <router-view @authenticated="setAuthenticated"/>
        <b-modal id="error" :title="errTitle" hide-footer>
            <div class="col-md-12 text-center">
                <b-spinner variant="danger" type="grow"></b-spinner>
            </div>
        </b-modal>
    </div>
</template>

<script>
  import { mapState } from 'vuex'
  import '@mdi/font/scss/materialdesignicons.scss'
  import './assets/styles/base.scss'
  import MenuHeader from "@/views/Components/SharedComponents/MenuHeader";
  import { isExpiredAccess } from "@/store/router";
  import EventBus from "@/EventBus";

  export default {
    name: 'App',
    components: {MenuHeader},
    data() {
      return {
        errTitle: '',
        onLoading: true,
        authenticated: false,
      }
    },
    async mounted() {
      EventBus.$on('unauthorized', () => {
        this.authenticated = false
        this.$store.commit('logout')
        this.errTitle = 'Hết hạn đăng nhập. Vui lòng đăng nhập lại!'
        this.$bvModal.show('error')
        setTimeout(() => {
          this.$bvModal.hide('error')
        }, 1500)
        this.$router.push({
          name: 'login'
        })
      })
      EventBus.$on('serverError', () => {
        this.errTitle = 'Lỗi hệ thống! Vui lòng thử lại sau'
        this.$bvModal.show('error')
      })
      if (!isExpiredAccess() && this.validInitUser()) {
        this.authenticated = true
        await this.fetchAllToState()
        this.onLoading = false
        if (this.$route.path === '/') {
          this.$router.push({
            name: 'task'
          })
        }
        return
      }
      if (!this.authenticated && this.$route.name !== 'login') {
        this.$router.replace({name: 'login'})
      }
    },
    methods :{
      setAuthenticated (status) {
        this.authenticated = status
      },
      toLogin() {
        this.authenticated = false
        this.$router.push({
          name: 'login'
        })
      },
      validInitUser() {
        if (Object.keys(this.user).length === 0) {
          try {
            const currentUser = JSON.parse(localStorage.getItem('session_user'))
            const accessToken = localStorage.getItem('jwt_token')
            const apiToken = localStorage.getItem('api_token')
            this.$store.commit('updateAccessToken', Object.assign({}, currentUser, {
              accessToken,
              apiToken
            }))
            return true
          } catch (e) {
            return false
          }
        }
      },
      async fetchAllToState() {
        await Promise.all([this.$store.dispatch('fetchUsers'), this.$store.dispatch('fetchProducts')])
      }
    },
    computed: {
      ...mapState({
        user: state => state.user
      })
    }
  }
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
        font-size: 12px;
    }
</style>
