.slide-down-enter-active,
.slide-down-leave-active {
    $animation-duration: 0.5s;
    transition: opacity $animation-duration, transform $animation-duration;
}

.slide-down-enter,
.slide-down-leave-to {
    opacity: 0;
    transform: translateY(-40px);
    will-change: opacity, transform;
}

.slide-up-enter-active,
.slide-up-leave-active {
    $animation-duration: 0.5s;
    transition: opacity $animation-duration, transform $animation-duration;
}

.slide-up-enter,
.slide-up-leave-to {
    opacity: 0;
    transform: translateY(40px);
    will-change: opacity, transform;
}