/* Break-point
--------------------------*/
$xs: 600px !default;
$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;
$xl: 1920px !default;

$breakpoints: (
  'xs': (
    max-width: $sm - 1,
  ),
  'sm': (
    min-width: $sm,
  ),
  'md': (
    min-width: $md,
  ),
  'lg': (
    min-width: $lg,
  ),
  'xl': (
    min-width: $xl,
  ),
);

/* Bem
--------------------------*/
$element-separator: '__';
$modifier-separator: '--';

/* Grid */

// Grid breakpoints
$grid-breakpoints: (
  xs: 480,
  sm: 768px,
  md: 1024px,
  lg: 1440px,
) !default;

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');

// Grid containers
$container-max-widths: (
  xs: null,
  sm: 764px,
  md: 956px,
  lg: 972px,
) !default;

@include _assert-ascending($container-max-widths, '$container-max-widths');

$grid-columns: 12 !default;
$grid-gutter-width: 16px !default;

// Colors
// ======
// General colors palette
$colors: (
  transparent: transparent,
  black: #000,
  white: #fff,
  alice-blue: #f5f6f7
);

// Standard colors and colors maps
// Gray
$color-gray: rgb(82, 92, 100);
$colors-gray: (
  1000: rgb(26, 31, 35),
  800: rgb(54, 62, 67),
  600: rgb(82, 92, 100),
  400: rgb(110, 122, 129),
  200: rgb(145, 155, 161),
  100: rgb(181, 189, 194),
  75: rgb(219, 223, 225),
  72: lighten($color-gray, 18%), // rgba(82, 92, 100, 0.72)
  50: rgb(245, 246, 247)
);

// Blue
$color-blue: rgb(0, 99, 182);
$colors-blue: (
  1000: rgb(19, 31, 55),
  800: rgb(49, 62, 87),
  600: rgb(0, 99, 182),
  400: rgb(0, 147, 237),
  300: rgb(66, 140, 240),
  200: rgb(51, 178, 255),
  100: rgb(120, 203, 255),
  75: rgb(194, 230, 250),
  50: rgb(235, 247, 253)
);

// Red
$color-red: rgb(182, 25, 0);
$colors-red: (
  1000: rgb(54, 12, 20),
  800: rgb(90, 22, 16),
  600: rgb(182, 25, 0),
  400: rgb(238, 75, 56),
  200: rgb(239, 112, 97),
  100: rgb(241, 142, 131),
  75: rgb(247, 231, 230),
  50: rgb(253, 246, 246)
);

// Green
$color-green: rgb(40, 130, 0);
$colors-green: (
  1000: rgb(0, 33, 0),
  800: rgb(29, 64, 31),
  600: rgb(40, 130, 0),
  400: rgb(63, 188, 26),
  300: rgb(32, 168, 72),
  200: rgb(113, 212, 84),
  100: rgb(168, 236, 124),
  75: rgb(228, 247, 215),
  50: rgb(244, 255, 236)
);

// Green
$color-yellow: rgb(212, 149, 2);
$colors-yellow: (
  1000: rgb(53, 27, 0),
  800: rgb(102, 61, 0),
  600: rgb(212, 149, 2),
  400: rgb(245, 200, 20),
  200: rgb(249, 215, 77),
  100: rgb(250, 226, 107),
  75: rgb(252, 245, 207),
  50: rgb(255, 251, 230)
);

// PRINT BASE
// Neutral Shade Colors
$colors-neutral: (
  50: #F2F5F8,
  75: #E6EBF0,
  100: #CED7E1,
  150: #B4BECC,
  300: #8892A4,
  600: #565F6C,
  800: #2A3038,
  900: #181A20
);

// Orange Shade Colors
$colors-orange: (
  50: #F8F5F2,
  75: #FAEBD7,
  100: #FAD7AA,
  150: #EAB470,
  300: #D47E44,
  600: #8C5028,
  800: #442816,
  900: #1E120A
);

